<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<p-card>
    <p-panel [style]="{'margin-bottom':'20px'}">
        <p-header>
            <span class="ui-panel-title">{{nameModulo}} </span>
        </p-header>
        <div class="ui-g">
            <div class="ui-g-12">
                <form [formGroup]="modelForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-2">
                            <h5 class="label-custom" for="nombres">Nombres y Apellidos (*)</h5>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input style="width: 100%; margin-bottom: 0.2em" formControlName="nombres"  id="nombres" type="text" readonly  pInputText/>
                            <p-message *ngIf="nombres.touched && nombres.errors?.required" severity="error" text="Ingrese nombres"></p-message>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <h5 class="label-custom" for="email">Email (*)</h5>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input style="width: 100%; margin-bottom: 0.2em" placeholder="Usuario del sistema" formControlName="email" readonly   id="email" type="text" pInputText/>
                            <p-message *ngIf="email.touched && email.errors?.required" severity="error" text="Ingrese email"></p-message>
                            <p-message *ngIf="email.touched && email.errors?.email" severity="error" text="Ingrese un email válido"></p-message>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <h5 class="label-custom" for="perfil">Perfil (*)</h5>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p-dropdown  [style]="{'width':'100%'}" [options]="listaPerfiles" formControlName="perfil"  placeholder="Seleccione..." ></p-dropdown>
                            <p-message *ngIf="perfil.touched && perfil.errors?.required" severity="error" text="Seleccione un perfil"></p-message>
                        </div>

                        <div class="ui-g-12" style="text-align: center">
                            <button  style="margin-right: 0.4rem" pButton type="submit" label="Actualizar" ></button>
                            <button [routerLink]="['/main/usuarios']" style="margin-right: 0.4rem" pButton type="button" label="Volver" class="ui-button-secondary"></button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </p-panel>
</p-card>


