<p-card>

    <div class="ui-g">
        <div class="ui-g-12 centrar">
            <h2 class="col-12 tit_evento pulso_infinito">
                APOYA AL REFUGIO
            </h2>            
        </div>

        <div class="ui-g-12 ui-md-10 ui-lg-6 centrar">
        	<div class="ui-g-12 ui-md-6">
        		<img width="85%" alt="Apoya al refugio" src="assets/layout/images/bbva.png">
        		<p><b>CUENTA BBVA:</b> 0011 0247 0200327202</p> 
        		<label>(Kimberly Hernandez Rodriguez & Flor Castañeda Paullo)</label>
        	</div>
        	
        	<div class="ui-g-12 ui-md-6">
        		<img width="85%" alt="Apoya al refugio" src="assets/layout/images/bcp.png">
        		<p><b>CUENTA BCP:</b> 300 92 90 9730 0 92</p> 
        		<label>(Kimberly Hernandez Rodriguez & Flor Castañeda Paullo)</label>
        	</div>
        </div>

		<div class="ui-g-12"></div>

        <div class="ui-g-12 ui-md-10 centrar">
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Alimentos" src="assets/layout/images/calimento.jpg">
        		<h2 class="tit_colabora"><b>ALIMENTOS</b></h2>
        	</div>
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Medicina" src="assets/layout/images/cmedicina.jpg">
        		<h2 class="tit_colabora"><b>MEDICINA</b></h2>
        	</div>
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Ropa" src="assets/layout/images/cropa.jpg">
        		<h2 class="tit_colabora"><b>VESTIMENTA</b></h2>
        	</div>
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Juegos" src="assets/layout/images/cjuguete.jpg">
        		<h2 class="tit_colabora"><b>JUEGOS</b></h2>
        	</div>
        </div>

     </div>
</p-card>
<app-pagina-interes></app-pagina-interes>