
// .boton{
//   background: #689F38;
//   cursor: pointer;
//   color: white;
// }
// .boton:hover, .boton:hover {
//     background: #558B2F;
// }

.img_circular {
	width: 200px;
	height: 200px;
    border-radius: 20px;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.tarjeta{
	padding: 15px;
	padding-top: 5px;
	height: 450px;
	border-top: 3px solid #0D47A1;
	// box-shadow: 0 1px 3px -1px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.tarjeta h2{
		color: #0D47A1;
		font-weight: bold;
		text-transform: uppercase;
}
