<p-card>
    <div class="ui-g">
        <div class="ui-g-12">
            <form  *ngIf="modelForm"  [formGroup]="modelForm" (ngSubmit)="submitForm()" novalidate>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <h5 class="label-custom" for="nombre">Nombre (*)</h5>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input style="width: 100%; margin-bottom: 0.2em" formControlName="nombre" id="nombre" type="text" pInputText/>
                        <!--<p-message *ngIf="nombre.touched && nombre.errors?.required" severity="error" text="Ingrese nombre"></p-message>-->
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <h5 class="label-custom">Roles</h5>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div formArrayName="roles" *ngFor="let order of listRoles; let i = index"
                             class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [formControlName]="i" id="{{roles[i].name}}"
                                   value="{{roles[i].name}}" [(ngModel)]="roles[i].status">
                            <label class="custom-control-label" for="{{roles[i].name}}">{{roles[i].name}}</label>
                        </div>
                    </div>

                    <div class="ui-g-12" style="text-align: center">
                        <button [disabled]="!modelForm.valid" style="margin-right: 0.4rem" pButton type="submit">Guardar</button>
                        <button *ngIf="isEdit" (click)="confirmDelete()" style="margin-right: 0.4rem" pButton type="button" label="Eliminar" class="ui-button-danger"></button>
                        <button [routerLink]="linkVolver" style="margin-right: 0.4rem" pButton type="button" label="Volver" class="ui-button-secondary"></button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</p-card>


