<p-card>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-10 centrar mt-3">
            <h2 class="titulo">
                PÁGINAS DE INTERÉS
            </h2>

            <div class="ui-g-12 ui-md-4 ui-lg-3 con_footer">
                <a routerLink="/proceso">
                    <img class="pag_imagen" src="assets/layout/images/proceso.png" alt="">
                    <h3 class="pag_titulo">NUESTRO PROCESO</h3>
                    <p>Enteráte de todos nuestros eventos realizados.</p>
                </a>
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-2 con_footer">
                <a routerLink="/proximos-eventos">
                    <img class="pag_imagen" src="assets/layout/images/evento.png" alt="">
                    <h3 class="pag_titulo">EVENTOS</h3>
                    <p>Enteráte de todos nuestros eventos realizados.</p>
                </a>
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-2 con_footer">
                <a routerLink="/colaboracion">
                    <img class="pag_imagen" src="assets/layout/images/colabora.png" alt="">
                    <h3 class="pag_titulo">COLABORA</h3>
                    <p>Enteráte de todos nuestros eventos realizados.</p>
                </a>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2 con_footer">
                <a routerLink="/unete">
                    <img class="pag_imagen" src="assets/layout/images/unete.png" alt="">
                    <h3 class="pag_titulo">ÚNETE</h3>
                    <p>Enteráte de todos nuestros eventos realizados.</p>
                </a>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-3 con_footer">
                <a routerLink="/web-amigas">
                    <img class="pag_imagen" src="assets/layout/images/webamigas.png" alt="">
                    <h3 class="pag_titulo">WEB AMIGAS</h3>
                    <p>Enteráte de todos nuestros eventos realizados.</p>
                </a>
            </div>
        </div>
    </div>
</p-card>