<div class="ui-g-12">
        <h2 class="col-12 text-center titulo">
            PÁGINAS DE INTERÉS
        </h2>
        <div class="ui-g-1">
        </div>
        <div class="ui-g-2 con_footer">
            <a href="http://entrepatasch.com/entrepatas/proceso_adopcion">
                <img class="pag_imagen" src="assets/layout/images/proceso.png" alt="">
                <h3 class="pag_titulo">NUESTRO PROCESO</h3>
                <p>Enteráte de todos nuestros eventos realizados.</p>
            </a>
        </div>
        <div class="ui-g-2 con_footer">
            <a routerLink="/proximos-eventos">
                <img class="pag_imagen" src="assets/layout/images/evento.png" alt="">
                <h3 class="pag_titulo">EVENTOS</h3>
                <p>Enteráte de todos nuestros eventos realizados.</p>
            </a>
        </div>
        <div class="ui-g-2 con_footer">
            <a href="http://entrepatasch.com/entrepatas/colabora">
                <img class="pag_imagen" src="assets/layout/images/colabora.png" alt="">
                <h3 class="pag_titulo">COLABORA CON EL REFUGIO</h3>
                <p>Enteráte de todos nuestros eventos realizados.</p>
            </a>
        </div>
        <div class="ui-g-2 con_footer">
            <a href="http://entrepatasch.com/entrepatas/unete">
                <img class="pag_imagen" src="assets/layout/images/unete.png" alt="">
                <h3 class="pag_titulo">ÚNETE</h3>
                <p>Enteráte de todos nuestros eventos realizados.</p>
            </a>
        </div>

        <div class="ui-g-2 con_footer">
            <a href="http://entrepatasch.com/entrepatas/webamigas">
                <img class="pag_imagen" src="assets/layout/images/webamigas.png" alt="">
                <h3 class="pag_titulo">WEB AMIGAS</h3>
                <p>Enteráte de todos nuestros eventos realizados.</p>
            </a>
        </div>
    <div class="ui-g-1">
    </div>
</div>