
<p-card>
    <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
      <div class="ui-g ui-fluid">
        <div class=" ui-g-12 tarjeta_adm">
          <p-card>
            <p-header>
              <h2>Generar Evento</h2>
            </p-header>
            
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-12 ui-md-6">
                <label><b>Tipo Evento (*)</b></label>
                  <p-dropdown [style]="{'width':'100%'}" [options]="listaTipoEvento" placeholder="Seleccione tipo evento" name="tipoEvento" [(ngModel)]="tipoEvento" optionLabel="nombre" [showClear]="true" >
                  </p-dropdown>
              </div>

              <div class="ui-g-12 ui-md-6">
                <label><b>Fecha y Hora(*)</b></label>
                <p-calendar [(ngModel)]="fecha" name="fecha" [showTime]="true" dateFormat="dd/mm/yy" hourFormat="12" placeholder="dd/mm/yy"> </p-calendar>
              </div>
              
              <div class="ui-g-12">
                <label><b>Título (*)</b></label>
                <input type="text" name="nombre" placeholder="Nombre Evento" [(ngModel)]="nombre" pInputText/>
              </div>

              <div class="ui-g-12">
                <label><b>Descripcíon (*)</b></label>
                <textarea rows="5" cols="30" pInputTextarea name="descripcion" placeholder="Descripcion del evento" [(ngModel)]="descripcion"></textarea>
              </div>

              <div class="ui-g-12 ui-md-6">
                <label><b>Ciudad(*)</b></label>
                  <p-autoComplete field="descripcion" [(ngModel)]="ubigeo" name="ubigeo" (onSelect)="onSelectCiudad($event)" [suggestions]="filteredCities" (completeMethod)="filterCitiesByNombre($event)" placeholder="Ingrese ubigeo" [minLength]="1">
                    <ng-template let-d pTemplate="item">
                      {{d.codDepartamento}}{{d.codProvincia}}{{d.codDistrito}} - {{d.descripcion}}
                    </ng-template>
                  </p-autoComplete>
              </div>

              <div class="ui-g-12 ui-md-6">
                <label><b>Direccíon(*)</b></label>
                  <input type="text" [(ngModel)]="direccion" placeholder="Direccion del evento" name="direccion" pInputText/>
              </div>

          <div class="ui-g-12">
                <label><b>Foto (*) [SELECCIONE IMAGEN Y DAR CLICK EN BOTON SUBIR]</b></label>
                  <p-fileUpload accept="image/*" chooseLabel="BUSCAR" uploadLabel="CARGAR" accept="image/*" cancelLabel="CANCELAR" name="file" (uploadHandler)="onFileUpload($event)" [customUpload]="true" [multiple]="false" maxFileSize="5000000">
                  <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                  </ul>
                  </ng-template>
                  </p-fileUpload>

          </div>
            </div>
          </p-card>

          <div class="ui-g-12 ui-md-6">
              <div class="ui-g-12">
                  <img src="{{imagenUp}}" width="250px" height="250px">

                  <label><b>Imagen</b></label>
                  <input [(ngModel)]="imagenUp" class="form-control" name="imagenUp" id="imagenUp" type="text" disabled pInputText/>
              </div>

        </div>
        
          <div class="ui-g-12">
          <div class="ui-g-6">
            <button pButton type="submit" label="Cancelar" icon ="fa fa-close" class="ui-button-danger btn" (click)="returnListaEventos()"></button>
          </div>
          <div class="ui-g-6">
            <button pButton type="submit" [label]="textButtonAction" icon ="fa fa-save" class="ui-button-success btn" (click)="save()" ></button> 
          </div>
          </div>

    </div>
    </div>
</p-card>