<div>
    <p> <strong>1. Objetivo</strong>
                  
        La presente política de privacidad de Datos Personales (la “Política de Privacidad”), tiene por
        finalidad informarle que el albergue ENTREPATAS, realiza el tratamiento de los Datos Personales que
        recopila a través del sitio web
        https://entrepatasch.com/ cuando los utiliza, y al completar el formulario de la plataformas
        tecnológica.

        Le agradecemos leer esta Política de Privacidad antes de proporcionarnos sus datos personales y, si está
        de acuerdo, marcar el recuadro de aceptación. Estos datos son necesarios y obligatorios para cumplir con
        las finalidades descritas en la presente Política de Privacidad por lo que, al no permitir su
        tratamiento, impediría estar en condiciones para cumplir las mismas.

        <strong>2. Marco normativo</strong>
        
        Esta política se encuentra regulada por la legislación peruana y en particular por:

        Ley No. 29733 (la “Ley”).
        Decreto Supremo No. 003-2013-JUS, que aprueba el Reglamento de la Ley No. 29733 (el “Reglamento”).
        Directiva de Seguridad de la Información, aprobada por la Resolución Directoral No. 019-2013-JUS/DGPDP
        (la “Directiva”).
        
        <strong>3. Principios rectores</strong>
        
        ENTRE PATAS desarrolla su Política Privacidad en el tratamiento de Datos Personales en atención a
        los principios rectores establecidos en la Ley y el Reglamento, por lo tanto:

        De acuerdo al principio de legalidad, ENTRE PATAS rechaza la recopilación de Datos Personales por
        medios fraudulentos, desleales o ilícitos.
        Conforme al principio de consentimiento, en el tratamiento de los Datos Personales mediará el
        consentimiento expreso de su titular.
        Los Datos Personales se recopilan para una finalidad determinada, explícita y lícita, y no se extenderá
        a otra finalidad que no haya sido la establecida de manera inequívoca al momento de su recopilación,
        excluyendo los casos de actividades de valor histórico, estadístico o científico cuando se utilice un
        procedimiento de disociación o anonimización.
        Todo tratamiento de Datos Personales será adecuado, relevante y no excesivo respecto de la finalidad
        para la cual fueron recopilados.
        Los Datos Personales que vayan a ser tratados serán veraces, exactos y, en la medida de lo posible,
        actualizados, necesarios, pertinentes y adecuados respecto de la finalidad para la que fueron
        recopilados. Se conservarán de forma tal que se garantice su seguridad y solo por el tiempo necesario
        para cumplir con la finalidad del tratamiento.
        ENTRE PATAS y los encargados de tratamiento, si hubiera, adoptan las medidas técnicas,
        organizativas y legales necesarias para garantizar la seguridad y confidencialidad de los Datos
        Personales. ENTRE PATAS cuenta con las medidas de seguridad apropiadas, acorde con el tratamiento
        que se vaya a efectuar y con la categoría de Datos Personales que se trate.
        ENTRE PATAS garantiza el nivel adecuado de protección de los Datos Personales para el flujo
        transfronterizo de Datos Personales, si se realiza, con un mínimo de protección equiparable a lo
        previsto por la Ley y el Reglamento.

        <strong>4. ¿Para qué utilizamos la información del usuario?</strong>
        
        Los datos personales brindados por el usuario en el formulario se tratan con la finalidad
        de:

        Acceder a una adopción de mascota.
        Publicar información de alguna mascota perdida
        Publicar información de alguna mascota que fue encontrado
        Apoyar con el cuidado, tratamiento y alimentación de los animales abandonados en las calles.

        <strong>5. Resguardo de la información del usuario</strong>

        
        ENTRE PATAS adopta las medidas de seguridad necesarias para garantizar la protección de la
        información del usuario a fin de evitar su alteración, pérdida, tratamiento y/o acceso no autorizado,
        tomando en consideración la naturaleza de la información y los riesgos a los que se encuentran
        expuestos. Para proteger los Datos Personales del usuario, cumplimos estrictamente con lo establecido en
        la Ley y el Reglamento.

        <strong>6. Ejercicio de derechos</strong>
        
        Usted puede ejercer sus derechos de acceso, rectificación, cancelación y oposición respecto de sus datos
        personales mediante petición dirigida al correo entrepatas@gmail.com

        <strong>7. Modificaciones de la Política de Privacidad</strong>
        
        ENTRE PATAS se reserva expresamente el derecho a modificar, actualizar o completar en cualquier
        momento la presente Política de Privacidad. Cualquier modificación, actualización o ampliación producida
        en la presente Política de Privacidad será inmediatamente publicada en el sitio web,
        por lo cual estarás enterado de qué información recopilamos, cómo y bajo qué circunstancias utilizamos y
        tratamos tu información.

        Última fecha de actualización: 23 de agosto de 2020.



    </p>
</div>