<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <input type="hidden" [(ngModel)]="tipoLocal">
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm(tipoLocal)" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12 ui-lg-8">
    <p-panel [style]="{'margin-bottom':'20px'}">
      <p-header>
        <span  class="ui-panel-title">Tipo de Locales</span>
      </p-header>

      <p-table #dt [columns]="cols" [value]="listaTipoLocal" 
        [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom" [lazy]="true" (onLazyLoad)="loadLazy($event)">
        
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
            <col style="width: 150px" > <!--check -->
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns let-pro>
          <tr>
            <th *ngFor="let col of columns" id="col.id" [pSortableColumn]="col.field" style="text-align: left">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width:15em" id="">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
               <span>
                  {{rowData.nombre}}
               </span>
            </td>
            <td >
                <span *ngIf="rowData.estado==true" class="label arrowed label-succes">
                   Activo
                </span>
                <span *ngIf="rowData.estado==false" class="label arrowed label-important">
                    Desactivo
                 </span>
             </td>
            <td style="text-align: center">
              <a *ngIf="rowData.enabled==true" (click)="doAction(rowData, 'state');">
                <button  pButton type="button" icon="pi pi-check" class="ui-button-success space-buttons" tooltip="Desactivar"></button>
              </a>
              <a *ngIf="rowData.enabled==false" (click)="doAction(rowData, 'state');">
                <button  pButton type="button" icon="pi pi-ban" class="ui-button-secondary space-buttons" tooltip="Activar" style="background-color: #a09898;"></button>
              </a> &nbsp;
              <a (click)="doAction(rowData, 'edit');"  class="hand">
                <button  pButton type="button" icon="pi pi-pencil" class="ui-button-secondary space-buttons" tooltip="Editar"></button>
              </a> &nbsp;
              <a (click)="showConshowConfirmDeletefirm(rowData)"  class="hand">
                <button  pButton type="button" icon="pi pi-trash" class="ui-button-danger space-buttons" tooltip="Eliminar"></button>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </p-panel>
  </div>

  <div class="ui-g-12 ui-lg-4">
      <!-- Left Side -->
      <div class="card card-w-title">
        <div class="ui-g">
          <div class="ui-g-12">
           <h1><strong>Agregar / Editar locales</strong> </h1>
          </div>
        </div>


        <!-- loader -->
        <!-- <div style="text-align:center" *ngIf="loading;">
            <p>Espere un momento</p>
            <p-progressSpinner></p-progressSpinner>
        </div> -->
        <!-- loader -->

        <form  (ngSubmit)="save()" >
            <input [(ngModel)]="id" name="id" type="hidden" pInputText/>
        <div class="ui-g ">
            <div class="row ui-g-12" >
              <label for="form-control" style="padding-right: 25px"> <strong>Tipo Local: </strong> </label>
                    <input   mdbInputDirective type="text" id="nombre" class="form-control"
                    [(ngModel)]="nombre" name="nombre" pInputText placeholder="Ingresar tipo local" >
            </div>
            <div class="ui-g" style="width:250px;margin-bottom:10px">
                <div class="ui-g-12"><p-checkbox  binary="true" label="Activo" name="estadoSelected" [(ngModel)]="estadoSelected"></p-checkbox></div>
            </div>
              <div class="ui-g-12 ui-md-6">
                  <button pButton  label="Guardar" style="margin-bottom:10px" class="ui-button-danger" type="submit"></button>
              </div>
              <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="Limpiar" style="margin-bottom:10px;" class="ui-button-secondary" (click)="limpiarData()"></button>
              </div>

        </div>
        </form>
      </div>
      <!-- {{theForm.value | json}} -->
  </div>
</div>