.con_footer{
	font-size: 15px;
}

.con_footer a{
	color:#212121;
}
.con_footer .pag_titulo{
	margin:0;
}

.con_footer a img{
	width: 50px;
	height: 50px;
	margin:0 15px;
	cursor: pointer;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.con_footer a:hover img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    // animation: pulso 1s infinite alternate;
}
.con_footer h3{
	font-family: 'bebas_neueregular', Arial;
	font-size: 20px;
}
.con_footer a:hover h3{
	color:#0D47A1;
    animation: pulso .7s infinite;
}

.titulo{
	font-family: 'bebas_neueregular', Arial;
	text-align: center;
	font-weight: bold;
	color: #212121;
	font-size: 25px;
}


/***FOOTER***/
footer{
	height: 100px;
	width: 100vw;
	background: #000;
	color: white;
	font-size: 13px;
	/*margin-top: 25px;*/
}
footer img{
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin:0 15px; 
	border-radius: 50%;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
footer img:hover{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    animation: zoomIn_ 1s;
}

@media (min-width:640px ) {
	footer{
	height: 60px;
	}

}