<!-- <p-card> -->
    <div class="ui-g">
        <div class="ui-g-12 ui-md-10 centrar mt-3">
            <h2 class="titulo">
                ¡ASÍ AYUDAMOS!
            </h2>

            <div class="ui-g-12 ui-md-4 ui-lg-3 con_footer">
                <a  href="#/proceso">
                    <img class="pag_imagen" src="assets/layout/images/proceso.png" alt="">
                    <h3 class="pag_titulo">PROCESO</h3>
                </a>
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-2 con_footer">
                <a  href="#/proximos-eventos">
                    <img class="pag_imagen" src="assets/layout/images/evento.png" alt="">
                    <h3 class="pag_titulo">EVENTOS</h3>
                </a>
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-2 con_footer">
                <a href="#/colaboracion">
                    <img class="pag_imagen" src="assets/layout/images/colabora.png" alt="">
                    <h3 class="pag_titulo">DONA</h3>
                </a>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2 con_footer">
                <a  href="#/unete">
                    <img class="pag_imagen" src="assets/layout/images/unete.png" alt="">
                    <h3 class="pag_titulo">ÚNETE</h3>
                </a>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-3 con_footer">
                <a  href="#/web-amigas">
                    <img class="pag_imagen" src="assets/layout/images/webamigas.png" alt="">
                    <h3 class="pag_titulo">WEB AMIGAS</h3>
                </a>
            </div>
        </div>

    </div>
        
        <!-- <div class="ui-g-12 mt-3">             -->
        <footer class="footer mt3">
            <div class="ui-g-12 ui-md-9 mt-3 centrar">
                © 2020 ENTRE PATAS - CHEPÉN. Todos los Derechos Reservados.
            </div>
            <div class="ui-g-12 ui-md-3 mt-2 centrar">
                <a href="https://www.facebook.com/refugioentrepatas/" target="_blank">
                    <img src="../../../../assets/layout/images/social-fb.png" alt="Facebook" title="Facebook"></a>
                <a href="https://instagram.com/refugioanimalentrepatas/" target="_blank">
                <img src="../../../../assets/layout/images/social-in.png" alt="instagram" title="Twitter"></a>
            </div>
        </footer>
        <!-- </div> -->
<!-- </p-card> -->