<div class='card'>
  <div class='card-body'>
    <h3 class='card-title'>Texto Ticket</h3>
    <div class='row centered'>
      <div
        *ngIf='viewLoading'
        class='overlay centered'
        style='width: 100%;'>
        <div class='overlay-content centered'>
          <div class='loader centered'></div>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='row'>
        <div class='col-md-12 mx-auto'>
          <div class='md-form'>
            <input
              mdbInput
              placeholder='Buscar por nombre'
              type='text'
              [(ngModel)]='valueInput'
            />
          </div>
          <div class='table-responsive'>
            <table mdbTable striped='true' small='true'>
              <thead>
                <tr>
                  <th></th>
                  <th class='text-center h6'>ID</th>
                  <th class='h6'>Nombre</th>
                  <th class='h6'>Descripci&oacute;n</th>
                  <th class='text-center h6'>IP Monitor</th>
                  <th class='text-center h6'>IP Videos</th>
                  <th class='text-center h6'>Tiempo Max. Reactivar</th>
                  <th class='text-center h6'>Tiempo Prom. Serv.</th>
                  <th class='text-center h6'>Tiempo Max. Depurar</th>
                  <th class='text-center h6'>IP</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let o of lista()'>
                  <td width='1%'>
                    <i
                      mdbTooltip='Modificar'
                      (click)='loadEdit(o.idOficina)'
                      class='fa fa-pencil cyan-text icon-pointer'
                    ></i>
                  </td>
                  <td class='text-center'>{{ o.idOficina }}</td>
                  <td>{{ o.nombre }}</td>
                  <td>{{ o.descripcion }}</td>
                  <td>{{ o.ipMonitor }}</td>
                  <td>{{ o.ipVideos }}</td>
                  <td class='text-center'>{{ o.tiempoMaxReactivar }}</td>
                  <td class='text-center'>
                    {{ o.tiempoPromedioServicio }}
                  </td>
                  <td class='text-center'>{{ o.tiempoMaxDepurar }}</td>
                  <td>{{ o.ip }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>