<div class='card'>
  <div class='card-body'>
    <h3 class='card-title'>Texto Ticket</h3>
    <ngx-alerts></ngx-alerts>
    <div class='row centered'>
      <div *ngIf='viewLoading' class='overlay centered' style='width: 100%;'>
        <div class='overlay-content centered'>
          <div class='loader centered'></div>
        </div>
      </div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="imagen1">Imagen Cabecera</label>
          <input id="imagen1" type="file" (change)="onFileChangeCabecera($event)" accept="image/x-png,image/gif,image/jpeg">
        </div>
        <div class="col-md-12">
          <img *ngIf="registerForm.value.imagenCabecera" [src]="registerForm.value.imagenCabecera" width="150" height="30" />
        </div>
        <div class="form-group col-md-3">
          <label for="imagen2">Imagen Pie</label>
          <input id="imagen2" type="file" (change)="onFileChangePie($event)" accept="image/x-png,image/gif,image/jpeg">
        </div>
        <div class="col-md-12">
          <img *ngIf="registerForm.value.imagenPie" [src]="registerForm.value.imagenPie" width="150" height="30" />
        </div>
        <div class="form-group col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mensaje</h5>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <mat-form-field [color]="f.mensajeBienvenida1.errors | colorValidate">
                    <input matInput placeholder="Bienvenida" formControlName="mensajeBienvenida1">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                  <mat-form-field [color]="f.mensajeDespedida1.errors | colorValidate">
                    <input matInput placeholder="Mensaje" formControlName="mensajeDespedida1">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mensaje Vigente</h5>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <mat-form-field>
                    <input matInput placeholder="Bienvenida" formControlName="mensajeBienvenida2">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                  <mat-form-field>
                    <input matInput placeholder="Mensaje" formControlName="mensajeDespedida2">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                  <mat-form-field [color]="f.fecInivigMensaje.errors | colorValidate">
                    <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha Inicio" formControlName="fecInivigMensaje">
                    <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                    <mat-datepicker #fechaInicio></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                  <mat-form-field [color]="f.fecFinvigMensaje.errors | colorValidate">
                    <input matInput [matDatepicker]="fechaFin" placeholder="Fecha Fin" formControlName="fecFinvigMensaje">
                    <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                    <mat-datepicker #fechaFin></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary waves-light" data-dismiss="modal" mdbWavesEffect mdbWavesEffect>Guardar
      </button>
    </form>
  </div>
</div>
