<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<div class="container-login100">

    <div class="formulario flipInY">
        <p-tabView>
            <p-tabPanel header="Iniciar" leftIcon="fa fa-user-circle">

                <p>INICIA SESSIÓN</p>
                <img class='jack' src="assets/layout/images/avatar.png" alt="Accede a Entre Patas">


                <form class="validate-form flex-sb flex-w" (submit)="login()">
                    <div class="form-group mt-2">
                        <label>Usuario</label>
                        <input type="text" [(ngModel)]="username" class="form-control" name="username" placeholder="usuario" required>
                    </div>

                    <div class="form-group mt-2">
                        <label>Contraseña</label>
                        <input type="password" [(ngModel)]="password" class="form-control" name="pass" placeholder="*****" required>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <button type="submit" class="btn boton">
                            INICIAR
                        </button>

                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Registrarse" leftIcon="fa fa-lock">
                <p>¡REGISTRATE!</p>
                <img class='pulso_infinito' src="http://entrepatasch.com/entrepatas/disenio/img/avatar_crea.jpg" alt="">

                <div class="form-group mt-2">
                    <label>Tipo Documento(*)</label>
                    <p-autoComplete [(ngModel)]="tipoDocumento" [suggestions]="listTipoDocumento" field="abreviatura"
                        name="perfilSelected" [size]="15" (completeMethod)="filterListTipoDocumento($event)"
                        [minLength]="1" placeholder="Seleccione tipo documento" [dropdown]="true" [readonly]="true">
                    </p-autoComplete>
                </div>

                <div class="form-group mt-2">
                    <label>Num Doc.[PRESS ENTER]</label>
                    <input type="text" class="form-control" name="documento" [textMask]="{mask: numberMask}" [(ngModel)]="numeroDocumento" required placeholder="87598626" (keydown.enter)="getPersona()" minlength="8" maxlength="12" pInputText />
                </div>

                <div class="form-group mt-2">
                    <label>Nombres (*)</label>
                    <input type="text" class="form-control" name="nombres" [(ngModel)]="nombres" placeholder="Juan" (keypress)="soloLetras($event)" required pInputText />
                </div>

                <div class="form-group mt-2">
                    <div class="ui-g-6">
                        <label>Ape. Paterno (*)</label>
                        <input type="text" class="form-control" name="apPaterno" placeholder="Perez" [(ngModel)]="apPaterno" (keypress)="soloLetras($event)" required pInputText />
                    </div>

                    <div class="ui-g-6">
                        <label>Ape. Materno (*)</label>
                        <input type="text" class="form-control" name="apMaterno" placeholder="Hozo"
                            [(ngModel)]="apMaterno" (keypress)="soloLetras($event)" required pInputText />
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label>Email (*)</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="correo"
                        placeholder="tucorreo@tuservicio.com" required pInputText />
                </div>

                <div class="form-group mt-2">
                    <label>Repetir Email (*)</label>
                    <input type="text" class="form-control" onpaste="return false" name="correoRepite"
                        [(ngModel)]="correoRepite" placeholder="tucorreo@tuservicio.com" required pInputText />
                </div>

                <div class="form-group mt-2">
                    <p-checkbox name="terminos" value="true" [(ngModel)]="politica"></p-checkbox>
                    He leído y Acepto la <a class="hand" (click)="showPolitica()" style="color:#533ab3">política de
                        privacidad</a>
                </div>

                <div class="m-t-20">
                    <button type="submit" class="btn boton" (click)="save()">
                        ¡CREAR!
                    </button>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <p-dialog header="" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000" [modal]="true"
        styleClass="terms-and-conditions-dialog">
        <div style="padding: 0 2rem; text-align: justify;">
            <h3 style="font-size: 1.15rem; text-align: center;">POLÍTICA DE PRIVACIDAD DE DATOS PERSONALES</h3>
            <app-politica></app-politica>

        </div>
        <p-footer>
            <button type="button" pButton (click)="display=false" label="Cerrar" icon ="fa fa-close" class="ui-button-danger btn"></button>
        </p-footer>
    </p-dialog>
</div>
<app-pagina-interes></app-pagina-interes>