.ui-scrollpanel-wrapper{
	overflow-x: hidden!important;
}
.boton{
  background: #689F38;
  cursor: pointer;
  color: white;
}
.boton:hover, .boton:hover {
    background: #558B2F;
}


// .per_adm{
	
// 	text-align: left;
// 	padding-left: 15px;
// }