
<p-card>
    <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
    <div class="ui-g ui-fluid">
        <div class=" ui-g-12 ui-md-12 cont-tarjeta">
            <p-messages [(value)]="msgs" [closable]="false"></p-messages>
        </div>
        <div *ngIf="isCompleted">
            <div class=" ui-g-12 tarjeta_adm">
                <p-card>
                    <p-header>
                        <h2>Generar Publicacion</h2>
                    </p-header>

                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-12">
                            <label><b>Nombre de Mascota(*)</b></label>
                            <input type="text" autofocus name="nombre" [(ngModel)]="nombre" [disabled]="isDisabled" placeholder="Nombre de Mascota" pInputText />
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-12">
                                <label><b>Tipo Animal (*)</b></label>
                                <p-autoComplete [(ngModel)]="tipoAnimal" [suggestions]="listaTipoAnimal" field="nombre"
                                    [disabled]="isDisabled" name="tipoAnimal" [size]="15"
                                    (onSelect)="changeTipoAnimal()" (completeMethod)="filterListTipoAnimal($event)"
                                    [minLength]="1" placeholder="Seleccione tipo animal" [dropdown]="true"
                                    [readonly]="true">
                                </p-autoComplete>
                            </div>


                            <div class="ui-g-12">
                                <label><b>Raza (*)</b></label>
                                <p-autoComplete [(ngModel)]="raza" [suggestions]="listaRazas" field="nombre" name="raza"
                                    [disabled]="isDisabled" [size]="15" (completeMethod)="filterListRaza($event)"
                                    [minLength]="1" placeholder="Seleccione raza" [dropdown]="true" [readonly]="true">
                                </p-autoComplete>
                            </div>

                            <div class="ui-g-12">
                                <label><b>Tamaño (*)</b></label>
                                <p-autoComplete [(ngModel)]="tamanoAnimal" [suggestions]="listaTamanoAnimal"
                                    field="nombre" [disabled]="isDisabled" name="tamano" [size]="15"
                                    (completeMethod)="filterListTamano($event)" [minLength]="1"
                                    placeholder="Seleccione tamaño" [dropdown]="true" [readonly]="true">
                                </p-autoComplete>
                            </div>

                            <div class="ui-g-12">
                                <label><b>Sexo (*)</b></label>
                                <div class="ui-g">
                                    <div class="ui-g-6">
                                        <p-radioButton name="sexo" value="Macho" label="Macho" [(ngModel)]="sexo"
                                            [disabled]="isDisabled" inputId="opt1">
                                        </p-radioButton>
                                    </div>
                                    <div class="ui-g-6">
                                        <p-radioButton name="sexo" value="Hembra" label="Hembra" [(ngModel)]="sexo"
                                            [disabled]="isDisabled" inputId="opt2">
                                        </p-radioButton>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-12">
                                <label><b>Condición (*)</b></label>
                                <p-autoComplete [(ngModel)]="condicion" [suggestions]="listaCondicion" field="nombre"
                                    [disabled]="isDisabled" name="condicion" [size]="15"
                                    (completeMethod)="filterListCondicion($event)" [minLength]="1"
                                    placeholder="Seleccione condición" [dropdown]="true" [readonly]="true">
                                </p-autoComplete>
                            </div>

                            <div class="ui-g-12" *ngIf="usuario.perfil.nombre!='VISITANTE'">
                                <label><b>Local Asignado (*)</b></label>
                                <p-autoComplete [(ngModel)]="local" [suggestions]="listaLocales" field="nombre"
                                    name="local" [disabled]="isDisabled" [size]="15"
                                    (completeMethod)="filterListLocal($event)" [minLength]="1"
                                    placeholder="Seleccione Local" [dropdown]="true" [readonly]="true">
                                </p-autoComplete>
                            </div>

                            <div class="ui-g-12">
                                <label><b>Edad aprox.(*)</b></label>
                                <p-listbox [options]="listaEdad" [(ngModel)]="edad" optionLabel="name" name="edad"
                                    [disabled]="isDisabled">
                                </p-listbox>
                                <p>Edad seleccionado: {{edad ? edad.name : edad }}</p>
                            </div>
                        </div>

                    </div>
                <!-- </p-card> -->
                <!-- </div> -->

                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12">
                        <label><b>Descripción </b></label>
                        <textarea cols="30" rows="3" pInputTextarea placeholder="Descripcion corta" name="descripcion" [(ngModel)]="descripcion" [disabled]="isDisabled" maxlength="200"></textarea>
                    </div>
                    <div class="ui-g-12">
                        <label><b>Foto (*) [SELECCIONE IMAGEN Y CARGUELA]</b></label>
                        <p-fileUpload accept="image/*" chooseLabel="BUSCAR" [disabled]="isDisabled" uploadLabel="CARGAR" [showCancelButton]="false"
                            accept="image/*"  name="file" (uploadHandler)="onFileUpload($event)"
                            [customUpload]="true" [multiple]="false" maxFileSize="5000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} -
                                        {{file.size}} bytes
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>

                        <img src="{{imagenUp}}" width="250px" height="250px">

                        <label><b>Imagen</b></label>
                        <input [(ngModel)]="imagenUp" disabled class="form-control" name="imagenUp" id="imagenUp"
                            type="text" [disabled]="isDisabled" pInputText />
                    </div>
                </div>

         </p-card>


                <div class="ui-g-12" text-align: center style="text-align: center;">
                    <button style="width: auto; margin-top: 1.2rem;  padding: 5px ; font-size: 15px;" pButton
                        type="submit" [label]="textButtonAction" class="ui-button-rounded ui-button-success"
                        (click)="save()" [disabled]="isDisabled"></button>
                    <button
                        style="width: auto; margin-top: 1.2rem; margin-left: 20px ;   padding: 5px ; font-size: 15px;"
                        pButton type="submit" label="Cancelar" class="ui-button-rounded ui-button-secondary"
                        [routerLink]="returnpublicaciones()"></button>
                </div>

            </div>
        </div>
    </div>
</p-card>