<div class="card">
  <div class="card-body">

    <ngx-alerts></ngx-alerts>
    <div class="row centered">
      <div *ngIf="loading" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h3 class="card-title">Monitor de tickets</h3>
      <div class="row mt-3">

        <div class="col-sm-12">

          <div class="row">
            <div class="col-md-6">
              <h3 class="blue-text" *ngIf="oficinaSelected">{{oficinaSelected.nombre}}</h3>
              <div>
                Oficina:
              </div>
              <select placeholder="Oficina" (ngModelChange)="changeOficina($event)"
                      class="browser-default custom-select mb-4 text-uppercase"
                      [(ngModel)]="oficinaSelected">
                <option class="text-uppercase" *ngFor="let o of oficinas"
                        [ngValue]="o">{{o.nombre}}
                </option>
              </select>

              <div *ngIf="datoTicketsOficina" class="row">
                <div class="col-sm">
                  <p><span class="font-weight-bold">Emitidos:</span> {{datoTicketsOficina.emitidos}}</p>
                </div>

                <div class="col-sm">
                  <p><span class="font-weight-bold">En espera:</span> {{datoTicketsOficina.enEspera}}</p>
                </div>

                <div class="col-sm">
                  <p><span class="font-weight-bold">Atendidos:</span> {{datoTicketsOficina.atendidos}}</p>
                </div>

                <div class="col-sm">
                  <p><span class="font-weight-bold">Abandonados:</span> {{datoTicketsOficina.abandonados}}</p>
                </div>

              </div>


            </div>

            <div class="col-md-6">
              <mdb-card class="mb-2">
                <mdb-card-header>Buscar tickets</mdb-card-header>
                <mdb-card-body>

                  <form (submit)="buscarTicket()">
                    <div class="row">
                      <div class="col-sm">
                        <div class="md-form">
                          <input name="codigoImpresion" mdbInputDirective type="text" id="nombre" class="form-control text-uppercase"
                                 [(ngModel)]="codigoImpresion">
                          <label for="nombre">Código de impresión</label>
                        </div>
                      </div>
                      <div class="col-sm">
                        <button [disabled]="!oficinaSelected"  type="submit" mdbBtn color="primary" mdbWavesEffect>Buscar
                          ticket
                        </button>
                      </div>
                    </div>
                  </form>



                </mdb-card-body>
              </mdb-card>
            </div>

          </div>

        </div>

        <div class="col-sm-12">
          <h3 class="text-primary text-center mt-4">Lista de tickets</h3>
          <table mdbTable small="true">
            <thead>
            <tr>
              <th class="h6">Ticket</th>
              <th class="h6">T. espera</th>
              <th class="h6">T. atención</th>
              <th class="h6">Estado</th>
              <th class="h6">Cliente</th>
              <th class="h6">Impresión</th>
              <th class="h6">Atendedor</th>
              <th class="h6">Ventanilla</th>
              <th class="h6">Priorizado</th>
              <th class="h6">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="{'fila-tabla-priorizado': ti.indDerivadoPrioridad, 'fila-tabla-asignado': ti.estado == 'ASIG' }" mdbTableCol *ngFor="let ti of tickets">
              <th scope="row">
                <button class="m-0" style="padding: 0.2rem 0.8rem; font-size: 0.8rem;" mdbBtn type="button"
                        gradient="blue" rounded="true" size="sm" mdbWavesEffect>{{ti.codigoImpresion}}
                </button>
              </th>
              <td>{{ti.tiempoEspera}}</td>
              <td>{{ti.tiempoAtencion}}</td>
              <td class="font-weight-bold">{{ti.estado | estadoTicket}}</td>
              <td><span *ngIf="ti.cliente">{{ti.cliente.primerNombre}} {{ti.cliente.apePaterno}}</span></td>
              <td>{{ti.horaEmision | date:'shortTime'}}</td>
              <td><span *ngIf="ti.usuario">{{ti.usuario.nombre}} {{ti.usuario.apePaterno}}</span></td>
              <td><span *ngIf="ti.ventanilla">{{ti.ventanilla.nombre}}</span></td>
              <td class="font-weight-bold"><span *ngIf="ti.indDerivadoPrioridad">Si</span><span *ngIf="!ti.indDerivadoPrioridad">No</span></td>
              <td>
                <button (click)="confirmAccionTicket(ti, 1)" mdbTooltip="Priorizar" placement="top" *ngIf="isPriorizar(ti)"
                        class="btn-sm btn-indigo mr-1" style="padding: 0.2rem 0.4rem; font-size: 0.8rem;"><i
                  class="fa fa-arrow-right white-text" aria-hidden="true"></i></button>
                <button (click)="confirmAccionTicket(ti, 2)"  mdbTooltip="Despriorizar" placement="top" *ngIf="isDespriorizar(ti)"
                        class="btn-sm btn-danger mr-1" style="padding: 0.2rem 0.4rem; font-size: 0.8rem;"><i
                  class="fa fa-arrow-left white-text" aria-hidden="true"></i></button>
                <button (click)="confirmAccionTicket(ti, 3)"  *ngIf="isEliminarDepurar(ti)" mdbTooltip="Depurar" placement="top" class="btn-sm btn-warning mr-1"
                        style="padding: 0.2rem 0.4rem; font-size: 0.8rem;"><i class="fa fa-share white-text"
                                                                              aria-hidden="true"></i></button>
                <button (click)="confirmAccionTicket(ti, 4)"  *ngIf="isEliminarDepurar(ti)" mdbTooltip="Eliminar" placement="top" class="btn-sm btn-danger mr-1"
                        style="padding: 0.2rem 0.4rem; font-size: 0.8rem;"><i class="fa fa-trash white-text"
                                                                              aria-hidden="true"></i></button>
                <button (click)="confirmAccionTicket(ti, 5)"  *ngIf="isActivar(ti)" mdbTooltip="Activar" placement="top" class="btn-sm btn-primary mr-1"
                        style="padding: 0.2rem 0.4rem; font-size: 0.8rem;"> Activar </button>
              </td>
            </tr>
            </tbody>
          </table>

          <div *ngIf="tickets.length == 0" class="text-center">Sin tickets</div>

        </div>

      </div>
    </div>

  </div>
</div>


<div mdbModal #modalConfirm="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="row centered">
        <div *ngIf="loading" class="overlay centered" style="width: 100%;">
          <div class="overlay-content centered">
            <div class="loader centered">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-header">
        <p class="heading">Confirmación</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalConfirm.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <p *ngIf="ticketSelected && accionTicket == 1">Seguro que desea <strong>priorizar</strong> este ticket {{ticketSelected.codigoImpresion}}</p>
            <p *ngIf="ticketSelected && accionTicket == 2">Seguro que desea <strong>despriorizar</strong> este ticket {{ticketSelected.codigoImpresion}}</p>
            <p *ngIf="ticketSelected && accionTicket == 3">Seguro que desea <strong>depurar</strong> este ticket {{ticketSelected.codigoImpresion}}</p>
            <p *ngIf="ticketSelected && accionTicket == 4">Seguro que desea <strong>eliminar</strong> este ticket {{ticketSelected.codigoImpresion}}</p>
            <p *ngIf="ticketSelected && accionTicket == 5">Seguro que desea <strong>Activar</strong> este ticket {{ticketSelected.codigoImpresion}}</p>
          </div>
        </div>


      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center waves-effect" mdbWavesEffect>

        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="modalConfirm.hide()" data-dismiss="modal">No</a>

        <a (click)="confirmAccion()" type="button" mdbBtn color="primary">Si
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



