<div class="card">
  <div class="card-body">

    <ngx-alerts></ngx-alerts>
    <div class="row centered">
      <div *ngIf="loading" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h3 class="card-title">Configuración de perfil</h3>
      <div class="row mt-3">

        <div class="col-sm-12">

          <div class="row">
            <div class="col-md-4">
              <h3 class="blue-text" *ngIf="oficinaSelected">{{oficinaSelected.nombre}}</h3>
              <div class="font-weight-bold">
                Oficina:
              </div>
              <select placeholder="Oficina" (ngModelChange)="changeOficina($event)"
                      class="browser-default custom-select mb-4 text-uppercase"
                      [(ngModel)]="oficinaSelected">
                <option  [ngValue]="null">Todas</option>
                <option class="text-uppercase" *ngFor="let o of oficinas"
                        [ngValue]="o">{{o.nombre}}
                </option>
              </select>


            </div>

            <div class="col-md-4">
              <h3 class="blue-text" *ngIf="pesoSelected">{{pesoSelected.nombrePeso}}</h3>
              <div class="font-weight-bold">
                Perfil de atención:
              </div>
              <select placeholder="Oficina" (ngModelChange)="changePeso($event)"
                      class="browser-default custom-select mb-4 text-uppercase"
                      [(ngModel)]="pesoSelected">
                <option class="text-uppercase" *ngFor="let o of pesosVisibles"
                        [ngValue]="o">{{o.nombrePeso}}
                </option>
              </select>

            </div>

            <div class="col-md-4">
              <h3 class="blue-text" *ngIf="modoLlamadoSelected">{{modoLlamadoSelected.nombreModoLlamado}}</h3>
              <div class="font-weight-bold">
                Modo de llamado:
              </div>
              <select placeholder="Modo de llamado"
                      class="browser-default custom-select mb-4 text-uppercase"
                      [(ngModel)]="modoLlamadoSelected">
                <option class="text-uppercase" *ngFor="let o of modosLLamados"
                        [ngValue]="o">{{o.nombreModoLlamado}}
                </option>
              </select>

            </div>

          </div>

        </div>

        <div class="col-sm-12">
          <h3 class="text-primary text-center mt-4">Lista de perfiles</h3>
          <table mdbTable small="true">
            <thead>
            <tr>
              <th class="h6">Tipo de atención</th>
              <th class="h6">Tipo ticket</th>
              <th class="h6">Código de impresión</th>
              <th class="h6" *ngIf="modoLlamadoSelected" [hidden]="modoLlamadoSelected.nombreModoLlamado != 'RATIO'">Peso</th>
              <th class="h6" *ngIf="modoLlamadoSelected" [hidden]="modoLlamadoSelected.nombreModoLlamado == 'SECUENCIAL'">Indice prioridad</th>
              <th class="h6">Activo</th>
            </tr>
            </thead>
            <tbody>
            <tr mdbTableCol *ngFor="let ti of pesosTipoTickets">
              <th scope="row">
                {{ti.tipoTicket.tipoAtencion.nombre}}
              </th>
              <td>{{ti.tipoTicket.nombre}}</td>
              <td>{{ti.tipoTicket.codigoImpresion}}</td>
              <td *ngIf="modoLlamadoSelected" [hidden]="modoLlamadoSelected.nombreModoLlamado != 'RATIO'">{{ti.peso}}</td>
              <td *ngIf="modoLlamadoSelected" [hidden]="modoLlamadoSelected.nombreModoLlamado == 'SECUENCIAL'">{{(ti.indicePrioridad) ? ti.indicePrioridad : 0}}</td>
              <td> <span>
                              <ui-switch [(ngModel)]="ti.activo" size="small"></ui-switch>
                            </span></td>
            </tr>
            </tbody>
          </table>

          <div *ngIf="pesosTipoTickets.length == 0" class="text-center">Sin perfiles</div>

        </div>

      </div>
      <div class="text-center mt-3">
        <button (click)="guardarPerfil()" type="button" mdbBtn color="primary" mdbWavesEffect [disabled]="!pesoSelected && !modoLlamadoSelected && pesosTipoTickets.length == 0">Guardar cambios</button>
      </div>
    </div>

  </div>
</div>

