<p-card>
    <p-panel [style]="{'margin-bottom':'20px'}">
            <p-header>
                    <span  class="ui-panel-title">Usuarios</span>
                </p-header>

        <div class="ui-g">
            <div class="ui-g-12">
                <p-table #dt [columns]="cols" [value]="listaUsuarios" [lazy]="true" 
                         [paginator]="true"
                         [rows]="perPage" [totalRecords]="totalRecords"
                         dataKey="id"
                         [responsive]="true"
                         [autoLayout]="true">


                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon *ngIf="!col.isActions" [field]="col.field" ariaLabel="Activa para ordenar"
                                            ariaLabelDesc="Activa para ordenar en orden descendente"
                                            ariaLabelAsc="Activa para ordenar en orden ascendente"></p-sortIcon>
                            </th>
                            <th style="text-align: center">
                                <div style="text-align: center">
                                    <span class="ui-column-title">Acciones</span>
                                </div>
                              </th>
                        </tr>

                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns" class="ui-resizable-column">
                              <span title="{{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                            </td>
                            <td style="text-align: center">
                                <div style="text-align: center">
                                    <span class="ui-column-title">Acciones</span>
                                    <button  style="margin-right: 0.2rem; margin-left: 0.2rem;"[routerLink]="['/main/usuarios/editar',rowData['id']]" pButton type="button" icon="pi pi-pencil" class="ui-button-success space-buttons" tooltip="Actualizar, Eliminar"></button>
                                </div>
                              </td>
                          </tr>
                    </ng-template>

                    <ng-template pTemplate="summary" let-rowData>
                        <div style="text-align:left">
                            <button style="margin-right: 0.2rem;" type="button" pButton icon="fa fa-plus"  label="Nuevo" [routerLink]="['/main/usuarios/nuevo']" routerLinkActive="router-link-active" ></button>
                        </div>
                    </ng-template>

                </p-table>

            </div>
        </div>

    </p-panel>
</p-card>


