<p-card>
    <p-panel [style]="{'margin-bottom':'20px'}">
            <p-header>
                    <span  class="ui-panel-title">Usuarios</span>
                </p-header>

        <div class="ui-g">
            <div class="ui-g-12">
                <p-table #dt [columns]="cols" [value]="users" [lazy]="true" 
                         [paginator]="true"
                         [rows]="perPage" [totalRecords]="totalRecords"
                         dataKey="id"
                         [responsive]="true"
                         [autoLayout]="true">


                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon *ngIf="!col.isActions" [field]="col.field" ariaLabel="Activa para ordenar"
                                            ariaLabelDesc="Activa para ordenar en orden descendente"
                                            ariaLabelAsc="Activa para ordenar en orden ascendente"></p-sortIcon>
                            </th>
                        </tr>

                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <span *ngIf="!col.isActions">
                                    <span *ngSwitchCase="'puntoVenta'">
                                        <span *ngIf="rowData[col.field]">{{rowData[col.field].nombre}}</span>
                                    </span>
                                    <span *ngSwitchCase="'nombres'">
                                        <span class="ui-column-title">Nombre</span>
                                        <span *ngIf="rowData[col.field]">{{rowData['nombres']}}</span>
                                    </span>
                                     <span *ngSwitchCase="'apellidos'">
                                        <span class="ui-column-title">Apellidos</span>
                                        <span *ngIf="rowData[col.field]">{{rowData['apellidos']}}</span>
                                    </span>
                                    <span *ngSwitchCase="'dni'">
                                        <span class="ui-column-title">DNI</span>
                                        <span *ngIf="rowData[col.field]">{{rowData['dni']}}</span>
                                    </span>
                                    <span *ngSwitchCase="'email'">
                                        <span class="ui-column-title">Email</span>
                                        <span *ngIf="rowData[col.field]">{{rowData['email']}}</span>
                                    </span>
                                    <span *ngSwitchCase="'username'">
                                        <span class="ui-column-title">Nombre de usuario</span>
                                        <span *ngIf="rowData[col.field]">{{rowData['username']}}</span>
                                    </span>
                                    <span *ngSwitchCase="'cargo'">
                                        <span class="ui-column-title">Cargo</span>
                                        <span *ngIf="rowData[col.field]">{{rowData['cargo']}}</span>
                                    </span>
                                    <span *ngSwitchDefault>
                                        {{rowData[col.field]}}
                                    </span>
                                </span>
                                <div *ngIf="col.isActions" style="text-align: center">
                                    <span class="ui-column-title">Acciones</span>
                                    <!--<button pButton type="button" icon="pi pi-external-link" class="space-buttons" tooltip="Detalle" autoPlacement="true"></button>-->
                                    <button style="margin-right: 0.2rem; margin-left: 0.2rem;" type="button" pButton icon="fa fa-unlock" (click)="restorePassword(rowData)" tooltip="Restaurar contraseña" autoPlacement="true"></button>
                                    <button style="margin-right: 0.2rem; margin-left: 0.2rem;" [routerLink]="linkUpdate(rowData['id'])" pButton type="button" icon="pi pi-pencil" class="ui-button-success space-buttons" tooltip="Actualizar, Eliminar"></button>

                                    <button *ngIf="modeRoot" style="margin-right: 0.2rem; margin-left: 0.2rem;" type="button" pButton icon="fa fa-key" (click)="generateToken(rowData)" tooltip="Generar token para api Rest" autoPlacement="true"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary" let-rowData>
                        <div style="text-align:left">
                            <button style="margin-right: 0.2rem;" type="button" pButton icon="fa fa-plus"  label="Nuevo" [routerLink]="['/main/usuarios/nuevo']" routerLinkActive="router-link-active" ></button>
                        </div>
                    </ng-template>

                </p-table>

            </div>
        </div>

    </p-panel>
</p-card>

<p-dialog header="Token generado" [(visible)]="visibleTokenGenerado" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">

    <h3>Usuario para api rest: </h3>
    <p>{{userSelected?.nombreCompleto}}</p>


    <h3>Token: </h3>
    <input #inputToken (focus)="focusInputToken(inputToken)" [value]="tokenGenerated?.token" type="text" style="width: 100%; margin-bottom: 0.2em" pInputText >

    <h3>Expira: </h3>
    <p>{{tokenGenerated?.expires | date: 'dd/MM/yyyy hh:mm a'}}</p>

    <p-footer>
        <button type="button" pButton (click)="visibleTokenGenerado=false" label="Cerrar" class="ui-button-secondary"></button>
    </p-footer>

</p-dialog>
