<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <input type="hidden" [(ngModel)]="data">
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirm(data)" label="Si" icon ="fa fa-thumbs-up" class="ui-button-success btn"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="No" icon ="fa fa-thumbs-down" class="ui-button-danger btn"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<!--<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-8 cont-tarjeta">
    <p-panel>
      <div class="tarjeta_adm">
      <p-header>
        <h2>Locales</h2>
      </p-header>

      <p-table #dt [columns]="cols" [value]="locales" dataKey="idDirectorio" [paginator]="true" [rows]="10"
        [responsive]="true" paginatorPosition="bottom" [scrollable]="true"  [lazy]="true" (onLazyLoad)="loadLazy($event)">

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
            <col style="width: 150px">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns let-pro>
          <tr>
            <th *ngFor="let col of columns" id="col.id" [pSortableColumn]="col.field" style="text-align: center">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width:15em" id="">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <span>
                {{rowData.usuario.persona.nombreCompleto}}
              </span>
            </td>
            <td>
                <span>
                  {{rowData.nombre}}
                </span>
              </td>
            <td>
              <span>
                {{rowData.ubigeo.nombre}} - {{rowData.direccion}}
              </span>
            </td>
            <td>
              <span>
                {{rowData.tipoLocal.nombre}}
              </span>
            </td>
            <td>
              <span>
                {{rowData.capacidad}}
              </span>
            </td>
            <td>
                <span>
                  {{rowData.alojado}}
                </span>
              </td>
            <td>
              <span *ngIf="rowData.estado==true" class="label label-success">
                Activo
              </span>
              <span *ngIf="rowData.estado==false" class="label label-important">
                Inactivo
              </span>
            </td>
            <td style="text-align: center">
              <a *ngIf="rowData.estado==true" (click)="doAction(rowData, 'state');">
                <button pButton type="button" icon="pi pi-ban" class="ui-button-danger"
                  tooltip="Desactivar"></button>
              </a>
              <a *ngIf="rowData.estado==false" (click)="doAction(rowData, 'state');">
                <button pButton type="button" icon="pi pi-check" class="ui-button-success"
                  tooltip="Activar"></button>
              </a> &nbsp;
              <a (click)="doAction(rowData, 'edit');" class="hand">
                <button pButton type="button" icon="pi pi-pencil" class="ui-button-warning"
                  tooltip="Editar"></button>
              </a> &nbsp;
              <a (click)="showConfirmDelete(rowData)" class="hand">
                <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                  tooltip="Eliminar"></button>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4 cont-tarjeta">
    <p-panel>
      <div class="tarjeta_adm">
      <p-header>
        <h2>Crear/Editar Locales</h2>
      </p-header>
      <form (ngSubmit)="save()">
        <div class="ui-g ">
        <input name="id" type="hidden" pInputText />
          <p-scrollPanel [style]="{height: '60vh'}" >
            <div class="ui-g-12">
            <label><b>Encargado (*):</b></label>
            <p-autoComplete [(ngModel)]="user" name="user" [suggestions]="filterUser"
              (completeMethod)="filterUsers($event)" field="persona.nombreCompleto"
              placeholder="Ingresar usuario" [style]="{'width':'75%'}" [minLength]="1"></p-autoComplete>

          </div>
          <div class="ui-g-12">
            <label><b>Nombre local (*):</b></label>
            <input mdbInputDirective type="text" class="form-control" name="nombreLocal" [(ngModel)]="nombreLocal" pInputText placeholder="Ingresar un nombre">
          </div>
          <div class="ui-g-12">
            <label><b>Tipo local (*):</b></label>
            <p-dropdown [options]="tipoLocales" name="tipoLocal" [(ngModel)]="tipoLocal"
              placeholder="Seleccione tipo local" optionLabel="nombre" [showClear]="true" [style]="{'width':'75%'}">
            </p-dropdown>
          </div>
          <div class="ui-g-12">
            <label><b>Capacidad (*):</b></label>
            <input mdbInputDirective type="number" class="form-control" [min]="1" [max]="100" name="capacidad" [(ngModel)]="capacidad" pInputText>
          </div>
          <div class="ui-g-12">
            <label><b>Ciudad (*):</b></label>
            <p-autoComplete field="descripcion" [(ngModel)]="ubigeo" name="ubigeo" [suggestions]="filteredCities" (completeMethod)="filterCitiesByNombre($event)" placeholder="Ingrese ubigeo" [minLength]="1">
              <ng-template let-d pTemplate="item">
                {{d.codDepartamento}}{{d.codProvincia}}{{d.codDistrito}} - {{d.descripcion}}
              </ng-template>
            </p-autoComplete>
          </div>
          <div class="ui-g-12">
            <label><b>Direccíon (*):</b></label>
            <input mdbInputDirective type="text" class="form-control" name="direccion" [(ngModel)]="direccion"
              pInputText placeholder="Ingresar dirección">
          </div>

            <div class="ui-g-12">
              <p-checkbox binary="true" label="Activo" name="estado" [(ngModel)]="estado"></p-checkbox>
            </div>

          <div class="ui-g-6">
            <button pButton type="button" label="Limpiar" icon ="fa fa-eraser" class="ui-button-danger btn" (click)="limpiarData()"></button>
          </div>
          <div class="ui-g-6">
            <button pButton label="Guardar" icon ="fa fa-save" class="ui-button-success btn" type="submit"></button>
          </div>

</p-scrollPanel>
        </div>
      </form>
    </div>
    </p-panel>
    <!-- {{theForm.value | json}} -->
  </div>
</div>