
.valor{
    margin-top: -25px;
    text-align: center;
    font-size: 14px;
    line-height:20px;
}

.fondo_principal{
    width: 100vw;
    height: 95vh;
    margin-left: -45px;
    margin-top: -75px;
    text-align: center;
    background: rgb(235,241,246);
    background: url("../../../assets/layout/images/fondo_principal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.fondo_principal p, .fondo_principal_unete p{
    color: white;
    text-align: center;
    margin:10em 0;
    font-size: 18px;
    text-shadow: 0 0 10px black;
}

@media screen and (min-width: 1024px){
    .fondo_principal p{
    margin:20em 5%;
    }
}
