<p-card>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-card>
                <div class="ui-g-12 fondo_principal">
                    <p class='ui-g-12 ui-md-10'>Rescatamos y protegemos a animales abandonados en la calle, brindándoles atención médica y cuidados para una futura adopción responsable.
                    </p>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-12 ui-lg-6">
                        <div class="col-12">
                            <h2 class='tit_otros'>MISIÓN</h2>
                            <p class='valor'>
                                Rescatar animales en situación de desamparo, maltrato y/o abandono, albergarlos en nuestro refugio en las mejores condiciones y durante el tiempo que sea necesario hasta encontrar para ellos un hogar definitivo y responsable donde sean cuidados y queridos. <br> <br>
                                Asimismo, fomentamos los valores de defensa de los derechos de los animales, la tenencia responsable y la esterilización mediante campañas de concientización y participación en eventos.
                            </p>
                        </div>
                        <div class="col-12">
                            <h2 class='tit_otros'>VISIÓN</h2>
                            <p class='valor'>
                                Disminuir la tasa de abandono y maltrato animal en el Valle Jequetepeque, concientizar a más personas a adoptar perros mestizos y no comprar, crear una cultura de esterilización en la población para evitar traer animales al mundo que seguirán sufriendo el mismo ciclo de abandono.
                            </p>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-6">
                        <div class="col-12 tit_otros">
                            <img src="assets/layout/images/perro2.png" height='300px'>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center esp_arriba">
                    <h2 class="tit_otros">INTEGRANTES</h2>
                </div>

                <p-dataView #dv [value]="users" [paginator]="true" [rows]="4" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                    <ng-template pTemplate="header">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                                <i class="pi pi-search"></i>
                                <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>
    
                    <ng-template let-data pTemplate="gridItem">
                        <div class="ui-g-12 ui-md-4 ui-lg-3 cont-tarjeta">
                            <div class='card'>
                                <img class='card-img-top img-fluid'src="{{data.persona.foto}}" >
    
                                <h4 class="titulo_card pulso_infinito">
                                    {{data.persona.nombre}}
                                    <!-- <p-panel [header]="data.titulo"> </p-panel> -->
                                </h4>
                            </div>
                        </div>
                    </ng-template>
    
                </p-dataView>
               
            </p-card>
        </div>
    </div>
</p-card>
        <app-pagina-interes></app-pagina-interes>