
.valor{
    margin-top: -25px;
    text-align: center;
    line-height:20px;
}

.fondo_principal{
    width: 100vw;
    height: 95vh;
    margin-left: -55px;
    margin-top: -85px;
    text-align: center;
    background: rgb(235,241,246);
    background: url("../../../assets/layout/images/foto_grupal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.fondo_principal p{
    // color: white;
    text-align: center;
    margin:10em 0;
    font-size: 20px;
    text-shadow: 0 0 5px white;
}

@media screen and (min-width: 1024px){
    .fondo_principal p{
    margin:20em 5%;
    }
}

.cont-tarjeta{
	margin: 0 auto!important;
}

.card {
	text-align: center;
	border: none;
    box-shadow: 0 10px 15px -12px rgba(0, 0, 0, 0.56), 0 4px 5px 0px rgba(0, 0, 0, 0.12), 0 8px 7px -5px rgba(0, 0, 0, 0.2);
    transition: all .12s ease-out;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-size: 14px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card img {
    vertical-align: middle;
    border-style: none;
}

.card p{
	text-align: center;
}
.card label{
	text-align: left;
}

.pulso_infinito {
    /* margin-left: 45px; */
    animation: pulso 1.5s infinite alternate;
}

.card h4{
	margin: 0;
	padding: 0;
    font-family: 'bebas_neueregular', Arial;
}

.titulo_card, .titulo_card_mute {
    // font-family: 'bebas_neueregular', Arial;
    font-size: 20px;
    color: #0D47A1;
    // font-weight: bold;
    margin-top: 20px;
}

