<p-card>
    <div class="ui-g ui-fluid">
        <div class=" ui-g-12 ui-md-6">
            <p-card>

                <div class="ui-g">

                    <div class="ui-g-6">
                        <h1 class="label-custom">Misión</h1>

                    </div>
                    <div class="ui-g-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto velit odit ipsa ducimus harum fugit voluptatibus rerum nemo nulla voluptates
                            illum,
                            totam quos blanditiis error quam consequuntur, in voluptatum aut?
                        </p>

                    </div>
                    <div class="ui-g-6">
                        <h1 class="label-custom">Visión</h1>

                    </div>
                    <div class="ui-g-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto velit odit ipsa ducimus harum fugit voluptatibus rerum nemo nulla voluptates
                            illum,
                            totam quos blanditiis error quam consequuntur, in voluptatum aut?
                        </p>

                    </div>
                    <div class="col-12 text-center esp_arriba">
                        <h2 class="titulo pulso_infinito">¡PONTE EN CONTACTO!</h2>
                        <p>Llamanos al celular N°: 978457846</p>
                        <p>Escribenos al correo: entrepatas@hotmail.com</p>
                    </div>




                </div>

            </p-card>

        </div>

        <div style="text-align: center;" class="ui-g-12 ui-md-6">
            <img src="assets/layout/images/perro2.png" width="250px" height="300px">
        </div>


        <div class="ui-g-12">
            <div class="row justify-content-center">
                <h2 class="col-12 text-center pag_principal esp_arriba mb-4">
                    INTEGRANTES
                </h2>
            </div>


            <!-- <p-carousel [value]="users" styleClass="custom-carousel" [numVisible]="3" [circular]="true" [autoplayInterval]="3000" >
                <p-header>
                    <h3>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h3>
                </p-header>
                <ng-template let-car pTemplate="item">
                    <div class="car-details">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12">
                                <img src="assets/showcase/images/demo/car/{{car.brand}}.png" />
                            </div>
                            <div class="p-col-12 car-data">
                                <div class="car-title">{{car.brand}}</div>
                                <div class="car-subtitle">{{car.year}} | {{car.color}}</div>
            
                                <div class="car-buttons">
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel> -->



        </div>

        <app-pagina-interes></app-pagina-interes>

    </div>
</p-card>