<div class="card">
  <div class="card-body">
    <h3 class="card-title">Ventanilla</h3>

    <ngx-alerts></ngx-alerts>

    <div class="row centered">
      <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 mx-auto">

          <button type="button" class="btn btn-primary waves-light" (click)="loadCreate();" mdbWavesEffect [disabled]="!enableBtnBuscar">Crear
          </button>

          <div class="md-form">
            <input mdbInput placeholder="Buscar por nombre" type="text" [(ngModel)]="valueInput" [ngModelOptions]="{standalone: true}"
              (keydown)="enter($event)">
          </div>
          <div class="table-responsive">
          <table mdbTable striped="true" small="true">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th class="text-center h6">ID</th>
                <th class="h6">Nombre</th>
                <th class="h6">Nombre Tv</th>
                <th class="text-center h6">IP</th>
                <th class="text-center h6">Tiempo Mínimo Espera</th>
                <th class="text-center h6">Descripción</th>
                <th class="text-center h6">Tiempo Retardado Rellamada Seg.</th>
                <th class="text-center h6">Número Máximo Rellamadas</th>
                <th class="text-center h6">Prioridad Derivación</th>
                <th class="text-center h6">Ticket Interno</th>
                <th class="text-center h6">Derivación</th>
                <th class="text-center h6">Ticket Derivados</th>
                <th class="text-center h6">Activo</th>
                <th class="text-center h6">IND Transacción</th>
                <th class="text-center h6">Estado Atendedor</th>
                <th class="text-center h6">IND Tipo Llamado</th>
                <th class="text-center h6">Permite Registro Cliente</th>
                <th class="text-center h6">IND Llamado Automático</th>
                <th class="text-center h6">Modo Llamado</th>
                <th class="text-center h6">Tipo Atención</th>
                <th class="text-center h6">Peso</th>
                <th class="text-center h6">Oficina</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of listItem">
                  <td width="1%">
                    <i mdbTooltip="Modificar" (click)="loadEdit(o.idVentanilla,o.oficina.idOficina)" class="fa fa-pencil cyan-text icon-pointer"></i>
                  </td>
                  <td width="1%">
                    <i mdbTooltip="Borrar" (click)="showConfirmDelete(o.idVentanilla)" class="fa fa-trash-o red-text icon-pointer"></i>
                  </td>
                <td class="text-center">{{o.idVentanilla}}</td>
                <td>{{o.nombre}}</td>
                <td>{{o.nombreTv}}</td>
                <td>{{o.desIp}}</td>
                <td>{{o.tiempoMinimoEspera}}</td>
                <td>{{o.descripcion}}</td>
                <td>{{o.tiempoRetardoRellamada}}</td>
                <td>{{o.numeroMaxRellamada}}</td>
                <td class="text-center">
                  <span *ngIf="o.permiteDerivacion" class="badge green">Sí</span>
                  <span *ngIf="!o.permiteDerivacion" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.aceptaTickDerivados" class="badge green">Sí</span>
                  <span *ngIf="!o.aceptaTickDerivados" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.permitePrioridadDerivacion" class="badge green">Sí</span>
                  <span *ngIf="!o.permitePrioridadDerivacion" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.permiteTicketInterno" class="badge green">Sí</span>
                  <span *ngIf="!o.permiteTicketInterno" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.activo" class="badge green">Sí</span>
                  <span *ngIf="!o.activo" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.indTransaccion" class="badge green">Sí</span>
                  <span *ngIf="!o.indTransaccion" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.estadoAtendedor" class="badge green">Sí</span>
                  <span *ngIf="!o.estadoAtendedor" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.indTipoLlamado" class="badge green">Sí</span>
                  <span *ngIf="!o.indTipoLlamado" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.permiteRegistroCliente" class="badge green">Sí</span>
                  <span *ngIf="!o.permiteRegistroCliente" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.indLlamadoAutomatico" class="badge green">Sí</span>
                  <span *ngIf="!o.indLlamadoAutomatico" class="badge red">No</span>
                </td>
                <td>{{o.peso?.modoLlamado?.nombreModoLlamado}}</td>
                <td class="text-center">{{o.tipoAtencion?.nombre}}</td>
                <td class="text-center">{{o.peso?.nombrePeso}}</td>
                <td class="text-center">{{o.oficina?.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

    </div>


    <!--Modal: Create Form-->
    <div mdbModal #form="mdb-modal" class="modal fade top" data-toggle="modal" id="modalCrearOficina" tabindex="-1"
      role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto; height: 100%;">
      <div class="row centered">
        <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
          <div class="overlay-content centered">
            <div class="loader centered">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

          <!--Header-->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">{{titleModal}}</h4>
            <button id="btnCerrar" type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
              (click)="form.hide()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">

            <div class="md-form">
              <input mdbInputDirective type="text" id="nombre" class="form-control" [(ngModel)]="item.nombre">
              <label for="nombre">Nombre</label>
            </div>

            <div class="md-form">
              <input mdbInputDirective type="text" id="nombreTv" class="form-control" [(ngModel)]="item.nombreTv">
              <label for="nombreTv">NombreTv</label>
            </div>

            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.permiteDerivacion">Permite Derivación</mat-slide-toggle>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.aceptaTickDerivados">Acepta Ticket Derivados</mat-slide-toggle>
            </div>
            <div class="md-form">
              <input mdbInputDirective type="number" id="tiempoMinimoEspera" class="form-control" [(ngModel)]="item.tiempoMinimoEspera">
              <label for="tiempoMinimoEspera">Tiempo Minimo de Espera (min.)</label>
            </div>
            <div class="md-form">
              <input mdbInputDirective type="text" id="descripcion" class="form-control" [(ngModel)]="item.descripcion">
              <label for="descripcion">Descripcion</label>
            </div>
            <div class="md-form">
              <input mdbInputDirective type="number" id="tiempoRetardoRellamada" class="form-control" [(ngModel)]="item.tiempoRetardoRellamada">
              <label for="tiempoRetardoRellamada">Tiempo Retardado de Rellamada (seg.)</label>
            </div>
            <div class="md-form">
              <input mdbInputDirective type="number" id="numeroMaxRellamada" class="form-control" [(ngModel)]="item.numeroMaxRellamada">
              <label for="numeroMaxRellamada">Número Maximo de Rellamada</label>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.permitePrioridadDerivacion">Prioridad de Derivación</mat-slide-toggle>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.permiteTicketInterno">Ticket Interno</mat-slide-toggle>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.activo">Activo</mat-slide-toggle>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.indTransaccion">IND Transacción</mat-slide-toggle>
            </div>
            <!--<div class="md-form">
              <input mdbInputDirective type="text" id="estadoAtendedor" class="form-control" [(ngModel)]="item.estadoAtendedor">
              <label for="estadoAtendedor">Estado Atendedor</label>
            </div>-->
            <div class="md-form">
              <input mdbInputDirective type="text" id="desIp" class="form-control" [(ngModel)]="item.desIp">
              <label for="desIp">IP</label>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.indTipoLlamado">IND Tipo Llamado</mat-slide-toggle>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.permiteRegistroCliente">Registro Cliente</mat-slide-toggle>
            </div>
            <div class="md-form">
              <mat-slide-toggle [(ngModel)]="item.indLlamadoAutomatico">IND Llamado Automático</mat-slide-toggle>
            </div>

            <label>Oficina</label>
            <select class="browser-default custom-select mb-4 text-uppercase"
                    (change)="selectIdOficina($event.target.value)"
                    [(ngModel)]="idOficina">
              <option class="text-uppercase" *ngFor="let o of listOficina"
                      value="{{o.idOficina}}">{{o.nombre}}
              </option>
            </select>

            <label>Perfil</label>
            <select class="browser-default custom-select mb-4 text-uppercase"
                    (change)="selectIdPeso($event.target.value)"
                    [(ngModel)]="idPeso">
              <option class="text-uppercase" *ngFor="let o of listPeso"
                      value="{{o.idPeso}}">{{o.nombrePeso}}
              </option>
            </select>

            <label>Tipo Atención</label>
            <select class="browser-default custom-select mb-4 text-uppercase"
                    (change)="selectIdTipoAtencion($event.target.value)"
                    [(ngModel)]="idTipoAtencion">
              <option class="text-uppercase" *ngFor="let o of listTipoAtencion"
                      value="{{o.idTipoAtencion}}">{{o.nombre}}
              </option>
            </select>

          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-light" data-dismiss="modal" (click)="save()"
              mdbWavesEffect [disabled]="!enableBtnGuardar">Guardar
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

    <!-- start confirmModal-->
    <div mdbModal #confirmDelete="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Est&aacute; seguro de borrar este registro?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fa fa-times fa-4x animated rotateIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <button type="button" class="btn btn-danger waves-light" (click)="delete();" mdbWavesEffect [disabled]="!enableBtnBuscar">Borrar
            </button>
            <button type="button" class="btn btn-primary waves-light" (click)="confirmDelete.hide();" mdbWavesEffect
              [disabled]="!enableBtnBuscar">No
            </button>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- end confirmModal-->

  </div>
</div>
