<p-card>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
<div class="ui-g cont-tarjeta">
    <div class=" ui-g-12 tarjeta_adm">
        <p-card>
        <p-header>
            <h2>Generar Adopción</h2>
        </p-header>

        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12">
                <h2><b>1. Buscar Mascota: </b></h2>
                    <p-autoComplete [(ngModel)]="animal" name="animal" [suggestions]="filterAnimal"
                    (completeMethod)="filterAnimales($event)" field="nombre" placeholder="Buscar mascota" [minLength]="1" [disabled]="isEdit"></p-autoComplete>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <div *ngIf="animal.raza!=null">
                        <img class="img_bus"src="{{animal.foto}}">
                    </div>
                </div>
            
                <div *ngIf="animal.raza!=null && animal.tamanoAnimal!=null" class="ui-g-12">
                    <div class="ui-g-4">
                        <label><b>RAZA</b></label>
                        <label for="form-control"> {{animal.raza.nombre}}</label>
                    </div>

                    <div class="ui-g-4">
                        <label><b>TAMAÑO:</b></label>
                        <label for="form-control"> {{animal.tamanoAnimal.nombre}}</label>
                    </div>

                    <div class="ui-g-4">
                        <label><b>EDAD</b></label>
                        <label for="form-control">{{animal.edad}}</label>
                    </div>

                    <div class="ui-g-12">
                        <label><b>SEXO:</b></label>
                        <label for="form-control"> {{animal.sexo}}</label>
                    </div>
                </div>
            </div>

        <div class="ui-g-12" *ngIf="animal.citasMedicas!=null">
            <button pButton label="historial" icon="fa fa-search" class="ui-button-info btn" type="submit" (click)="showHistorialDialog()"></button>
        </div>
        </div>

        <div class="ui-g-12 ui-md-6">        
            <h2><b>2. Completar Datos:</b></h2>
            
            <div class="ui-g-12">
                <label>Fecha Adopcion (*)</label>
                <p-calendar [(ngModel)]="fechaAdopcion" [locale]="es" placeholder="dd/mm/yy" dateFormat="dd/mm/yy"></p-calendar>
            </div>

            <div class="ui-g-12">
                <label>Nombres</label>
                <input type="text" name="nombres" placeholder="Nombres de adoptante" [(ngModel)]="persona.nombre" pInputText />
            </div>
                
            <div class="ui-g-12 ui-md-6">
                <label>Ape. Paterno</label>
                <input type="text" name="nombres" placeholder="Ape. Paterno" [(ngModel)]="persona.apePaterno" pInputText />
            </div>

            <div class="ui-g-12 ui-md-6">
                <label>Ape. Materno</label>
                <input type="text" name="nombres" placeholder="Ape. Materno" [(ngModel)]="persona.apeMaterno" pInputText />
            </div>

            <div class="ui-g-12 ui-md-6">
                <label><b>Tipo documento(*)</b></label>
                <p-autoComplete [(ngModel)]="persona.tipoDocumento" [suggestions]="listTipoDocumento" field="abreviatura" name="perfilSelected" (completeMethod)="filterListTipoDocumento($event)" [minLength]="1" placeholder="Seleccione tipo documento" [dropdown]="true" [readonly]="true">
                </p-autoComplete>
            </div>
            
            <div class="ui-g-12 ui-md-6">
                <label>Num. documento</label>
                <input type="text" name="nombres" [(ngModel)]="persona.numeroDocumento" (keydown.enter)="getPersona()" placeholder="78549856" pInputText />
            </div>

            <div class="ui-g-12"></div>
            <div class="ui-g-12 ui-md-6">
                <label>Fecha Nacimiento (*)</label>
                <p-calendar [(ngModel)]="persona.fechaNacimiento" placeholder="dd/mm/yy"  [monthNavigator]="true" dateFormat="dd/mm/yy"[yearNavigator]="true" yearRange="1970:2005"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-6">
                <label>Celular (*)</label>
                <input type="text" name="nombres" placeholder="999 999 999" [(ngModel)]="persona.celular" pInputText />
            </div>

            <div class="ui-g-12">
                <label>Correo electronico(*)</label>
                <input type="text" name="nombres" placeholder="tucorreo@servicio.com" [(ngModel)]="persona.correo" pInputText />
            </div>


            <div class="ui-g-12 ui-md-6">
                <label>Ciudad</label>
                <p-autoComplete field="descripcion" [(ngModel)]="persona.ubigeo" name="ubigeo" [suggestions]="filteredCities" (completeMethod)="filterCitiesByNombre($event)" placeholder="Ingrese ubigeo" [minLength]="1">
                <ng-template let-d pTemplate="item">
                    {{d.codDepartamento}}{{d.codProvincia}}{{d.codDistrito}} - {{d.descripcion}}
                </ng-template>
                </p-autoComplete>
            </div>
            
            <div class="ui-g-12 ui-md-6">
                <label>Dirección (*)</label>
                <input type="text" name="nombres" placeholder="Calle Las Flores 158" [(ngModel)]="persona.direccion" pInputText />
            </div>

            <div class="ui-g-12">
                <label>Otros (*)</label>
                <textarea rows="3" pInputTextarea name="descripcion" placeholder="Descripcion corta..." [(ngModel)]="diagnostico"></textarea>
            </div>

            <div class="ui-g" style="width:250px;margin-bottom:10px" *ngIf="!isEdit">
                <div class="ui-g-12">
                    <p-checkbox binary="true" label="CREAR USUARIO" name="createUser" [(ngModel)]="createUser">
                    </p-checkbox>
                </div>
            </div>


        </div>
        <div class="ui-g-12">
            <button pButton type="submit" [label]="textButtonAction" icon="fa fa-save" class="ui-button-success btn" (click)="saveGeneraAdopcion()"></button>
        </div>

    </p-card>
</div>
</div>

<p-dialog header="Tratamiento" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="tratamiento">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Medicina</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="vin" [(ngModel)]="tratamiento.medicina" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Unid. Medida</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="year" [(ngModel)]="tratamiento.unidadMedida" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">Cantidad</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="brand" [(ngModel)]="tratamiento.cantidad" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" class="ui-button-danger btn" pButton icon="fa fa-close" label="Delete"></button>
            <button type="button" class="ui-button-success btn" pButton icon="fa fa-save"  label="Save"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Historia Clinica " [(visible)]="historialDialog" [modal]="true" [responsive]="true"
    [style]="{width: '700px', height: '500px'}" [baseZIndex]="10000">
    <div>
        <p-scrollPanel [style]="{width: '100%', height: '400px'}">
            <div *ngFor="let cita of animal.citasMedicas">
                <div class="ui-g-12">
                    <label for="form-control">Cita Medica N {{cita.id}}</label>
                </div>
                <div class="ui-g-4">
                    <label for="form-control">Fecha visita: {{cita.fechaVisita}}</label>
                </div>
                <div class="ui-g-4">
                    <label for="form-control">Veterinario: {{cita.veterinario.nombre}} </label>
                </div>
                <div class="ui-g-4">
                    <label for="form-control">Veterinaria: {{cita.veterinario.veterinaria.nombre}} </label>
                </div>
                <div class="ui-g-12">
                    <label for="form-control">Sintomas/ Diagnostico</label>
                </div>
                <div class="ui-g-12">
                    <label for="form-control">{{cita.diagnostico}} </label>
                </div>

                <div class="ui-g-12">
                    <p-table [columns]="cols" [value]="cita.listaTratamiento"  [rows]="5">
                        <ng-template pTemplate="caption">
                            Tratamiento
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>
        </p-scrollPanel>
    </div>

    <p-footer>
        <button type="button" class="ui-button-danger btn" pButton icon="fa fa-times-circle" (click)="historialDialog=false" label="Cerrar"></button>
    </p-footer>
</p-dialog>