<div class="card">
  <div class="card-body">
    <h3 class="card-title">Lista de Horarios</h3>
    <ngx-alerts></ngx-alerts>

    <div class="row centered">
      <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">

      <div class="row" style="min-height: 50px;">
        <div class="col-md-12 mx-auto">

          <button type="button" class="btn btn-primary waves-light" (click)="loadCreate();"
                  mdbWavesEffect [disabled]="!enableBtnBuscar">Crear
          </button>

          <div class="md-form">
            <input mdbInput placeholder="Buscar por nombre" type="text" [(ngModel)]="valueInput"
                   [ngModelOptions]="{standalone: true}" (keydown)="enter($event)">
          </div>
          <div class="table-responsive">
          <table mdbTable striped="true" small="true">
            <thead>
            <tr>
              <th colspan="2"></th>
              <th class="text-center h6">ID</th>
              <th class="h6">Nombre</th>
              <th class="h6">Descripci&oacute;n</th>
              <th class="h6">Lunes</th>
              <th class="h6">Hora Lunes</th>
              <th class="h6">Martes</th>
              <th class="h6">Hora Martes</th>
              <th class="h6">Mi&eacute;rcoles</th>
              <th class="h6">Hora Mi&eacute;rcoles</th>
              <th class="h6">Jueves</th>
              <th class="h6">Hora Jueves</th>
              <th class="h6">Viernes</th>
              <th class="h6">Hora Viernes</th>
              <th class="h6">S&aacute;bado</th>
              <th class="h6">Hora S&aacute;bado</th>
              <th class="h6">Domingo</th>
              <th class="h6">Hora Domingo</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horariosyncs">
              <td width="1%"> 
                <i mdbTooltip="Modificar" (click)="loadEdit(horario.idHorario)" class="fa fa-pencil cyan-text icon-pointer mr-3"></i>
              </td>
              <td width="1%">
                <i mdbTooltip="Borrar" (click)="showConfirmDelete(horario.idHorario)" class="fa fa-trash-o red-text icon-pointer"></i>
              </td>
              <td class="text-center">{{horario.idHorario}}</td>
              <td>{{horario.nomHorario}}</td>
              <td>{{horario.desHorario}}</td>
              
              <td>
                  <span *ngIf="horario.indLunes" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indLunes" class="badge red">No</span>
              </td>

              <td>{{horario.horLunes}}</td>
              <td>
                  <span *ngIf="horario.indMartes" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indMartes" class="badge red">No</span>
              </td>
              <td>{{horario.horMartes}}</td>
              <td>
                  <span *ngIf="horario.indMiercoles" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indMiercoles" class="badge red">No</span>
              </td>
              <td>{{horario.horMiercoles}}</td>
              <td>
                  <span *ngIf="horario.indJueves" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indJueves" class="badge red">No</span>
              </td>
              <td>{{horario.horJueves}}</td>
              <td>
                  <span *ngIf="horario.indViernes" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indViernes" class="badge red">No</span>
              </td>
              <td>{{horario.horViernes}}</td>
              <td>
                  <span *ngIf="horario.indSabado" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indSabado" class="badge red">No</span>
              </td>
              <td>{{horario.horSabado}}</td>
              <td>
                  <span *ngIf="horario.indDomingo" class="badge green">S&iacute;</span>
                  <span *ngIf="!horario.indDomingo" class="badge red">No</span>
              </td>
              <td>{{horario.horDomingo}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

    </div>


    <!--Modal: Create Form-->
    <div mdbModal #form="mdb-modal" class="modal fade" id="modalCrearArea" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto;">
      <div class="row centered">
        <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
          <div class="overlay-content centered">
            <div class="loader centered">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-dialog modal-lg" role="document"><!-- cascading-modal -->
        <!--Content-->
        <div class="modal-content">

          <!--Header-->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">{{titleModal}}</h4>
            <button id="btnCerrar" type="button" class="close waves-effect waves-light"
                    data-dismiss="modal" aria-label="Close" (click)="form.hide()">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            
              <div class="form-row">
                  <div class="col">
                  <div class="md-form">
                    <input mdbActive mdbInputDirective type="text" id="form30" class="form-control"
                     [(ngModel)]="horariosync.nomHorario">
                    <label for="form30">Nombre</label>
                  </div>
                  </div>
                  <div class="col">
                  <div class="md-form">
                    <input mdbActive mdbInputDirective type="text" id="form31" class="form-control"
                     [(ngModel)]="horariosync.desHorario">
                    <label for="form31">Descripci&oacute;n</label>
                  </div>
                  </div>
              </div>
              <div class="form-row">&nbsp;</div>
              <div class="form-row">
                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indLunes">Lunes</mat-slide-toggle></div>
                  <div class="col"><label for="horLunes">Hora Lunes</label></div>
                  <div class="col"><input type="time" id="horLunes" class="form-control" [(ngModel)]="horariosync.horLunes"></div>

                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indMartes">Martes</mat-slide-toggle></div>
                  <div class="col"><label for="horMartes">Hora Martes</label></div>
                  <div class="col"><input type="time" id="horMartes" class="form-control" [(ngModel)]="horariosync.horMartes"></div>
              </div>
              <div class="form-row">&nbsp;</div>
              <div class="form-row">
                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indMiercoles">Miercoles</mat-slide-toggle></div>
                  <div class="col"><label for="horMiercoles">Hora Mi&eacute;rcoles</label></div>
                  <div class="col"><input type="time" id="form36" class="form-control" [(ngModel)]="horariosync.horMiercoles"></div>
                  
                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indJueves">Jueves</mat-slide-toggle></div>
                  <div class="col"><label for="horJueves">Hora Jueves</label></div>
                  <div class="col"><input type="time" id="form38" class="form-control" [(ngModel)]="horariosync.horJueves"></div>
              </div>
              <div class="form-row">&nbsp;</div>
              <div class="form-row">
                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indViernes">Viernes</mat-slide-toggle></div>
                  <div class="col"><label for="horViernes">Hora Viernes</label></div>
                  <div class="col"><input type="time" id="form40" class="form-control" [(ngModel)]="horariosync.horViernes"></div>
                  
                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indSabado">S&aacute;bado</mat-slide-toggle></div>
                  <div class="col"><label for="horSabado">Hora S&aacute;bado</label></div>
                  <div class="col"><input type="time" id="form42" class="form-control" [(ngModel)]="horariosync.horSabado"></div>
              </div>
              <div class="form-row">&nbsp;</div>
              <div class="form-row">
                  <div class="col"><mat-slide-toggle [(ngModel)]="horariosync.indDomingo">Domingo</mat-slide-toggle></div>
                  <div class="col"><label for="horDomingo">Hora Domingo</label></div>
                  <div class="col"><input type="time" id="horDomingo" class="form-control" [(ngModel)]="horariosync.horDomingo"></div>
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
            

          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-light" data-dismiss="modal"
                    (click)="save()" mdbWavesEffect [disabled]="!enableBtnGuardar">Guardar
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>


    <!-- start confirmModal-->
    <div mdbModal #confirmDelete="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Est&aacute; seguro de borrar este registro?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fa fa-times fa-4x animated rotateIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <button type="button" class="btn btn-danger waves-light" (click)="delete();"
                    mdbWavesEffect [disabled]="!enableBtnBuscar">Borrar
            </button>
            <button type="button" class="btn btn-primary waves-light" (click)="confirmDelete.hide();"
                    mdbWavesEffect [disabled]="!enableBtnBuscar">No
            </button>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- end confirmModal-->

  </div>
</div>



