<p-card>
    <div class="ui-g mt-3">

        <div class="ui-g-12 ui-md-10 ui-lg-8 centrar">
            <h2 class="col-12 tit_evento pulso_infinito">
                PROCESO DE ADOCPCIÓN
            </h2>

			<div class="ui-g-12 ui-md-6 ui-lg-3 mt-2">
				<img src="assets/layout/images/pro_registro.png" width='85' alt="1. Postula"><br>
				<b>01<br>POSTULA</b>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-3 mt-2">
				<img src="assets/layout/images/pro_evaluacion.png" width='85' alt="2. Evaluación"><br>
				<b>02<br>EVALUACIÓN</b>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-3 mt-2">
				<img src="assets/layout/images/pro_resultado.png" width='85' alt="3. Resultados"><br>
				<b>03<br>RESULTADOS</b>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-3 mt-2">
				<img src="assets/layout/images/pro_entrega.png" width='85' alt="4. Entrega"><br>
				<b>04<br>ENTREGA</b>
			</div>
			<div class="ui-g-12 mt-2">
				<img src="assets/layout/images/pro_seguimiento.png" width='85' alt="5. Seguimiento"><br>
				<b>05<br>SEGUIMIENTO</b>
			</div>

			<div class="ui-g-12 mt-3">
			<a  href="#/adopta" class="boton_act btn">¡QUIERO ADOPTAR!</a>
			</div>

		</div>
    </div>
</p-card>
<app-pagina-interes></app-pagina-interes>