<p-card>

    <div class="ui-g">
        <div class="ui-g-12 centrar">
            <h2 class="col-12 tit_evento pulso_infinito">
                APOYA AL REFUGIO
            </h2>            
        </div>

        <div class="ui-g-12 ui-md-10 centrar">
        	<div class="ui-g-12 ui-lg-4">
        		<img width="75%" alt="Apoya al refugio" src="assets/layout/images/bbva.png">
        		<p>BBVA: 0011 0247 0200327202</p> 
                <p>PLIN: 956 276 701</p> 
        		<label>(Kimberly Hernandez Rodriguez <br> Flor Castañeda Paullo)</label>
        	</div>
        	
        	<div class="ui-g-12 ui-lg-4">
        		<img width="75%" alt="Apoya al refugio" src="assets/layout/images/bcp.png">
        		<p>BCP: 300 92 90 9730 0 92</p> 
                <p>YAPE: 956 276 701</p> 
        		<label>(Kimberly Hernandez Rodriguez <br> Flor Castañeda Paullo)</label>
        	
            </div>

            <div class="ui-g-12 ui-lg-4">
                <a href="https://www.paypal.com/paypalme/refugioanimal?fbclid=IwAR1Yue3IDAs3Aof6rNWGoY7q6d26DeZGwRxvaAfsVRMgZLaKd4l33as6EHc" target="_blank">
                    <img width="75%" alt="Apoya al refugio" src="assets/layout/images/pp.jpg"></a>
                <a href="https://www.paypal.com/paypalme/refugioanimal?fbclid=IwAR1Yue3IDAs3Aof6rNWGoY7q6d26DeZGwRxvaAfsVRMgZLaKd4l33as6EHc" target="_blank"><br>IR A PAYPAL</a>
                <p>JANETT WOODILL</p> 
            </div>
        </div>

		<div class="ui-g-12"></div>

        <div class="ui-g-12 ui-md-10 centrar">
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Alimentos" src="assets/layout/images/calimento.jpg">
        		<h2 class="tit_colabora"><b>ALIMENTOS</b></h2>
        	</div>
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Medicina" src="assets/layout/images/cmedicina.jpg">
        		<h2 class="tit_colabora"><b>MEDICINA</b></h2>
        	</div>
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Ropa" src="assets/layout/images/cropa.jpg">
        		<h2 class="tit_colabora"><b>VESTIMENTA</b></h2>
        	</div>
        	<div class="ui-g-12 ui-md-6 ui-lg-3 centrar">
        		<img class="img_colabora" alt="Juegos" src="assets/layout/images/cjuguete.jpg">
        		<h2 class="tit_colabora"><b>JUEGOS</b></h2>
        	</div>
        </div>

     </div>
</p-card>
<app-pagina-interes></app-pagina-interes>