<div class="card">
  <div class="card-body">
    <h3 class="card-title">Lista de V&iacute;deos</h3>
    <ngx-alerts></ngx-alerts>

    <div class="row centered">
      <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">

      <div class="row" style="min-height: 50px;">
        <div class="col-md-12 mx-auto">

          <button type="button" class="btn btn-primary waves-light" (click)="loadCreate();"
                  mdbWavesEffect [disabled]="!enableBtnBuscar">Crear
          </button>

          <div class="md-form">
            <input mdbInput placeholder="Buscar por nombre" type="text" [(ngModel)]="valueInput"
                   [ngModelOptions]="{standalone: true}" (keydown)="enter($event)">
          </div>
          <div class="table-responsive">
          <table mdbTable striped="true" small="true">
            <thead>
            <tr>
              <th colspan="2"></th>
              <th class="text-center h6">ID</th>
              <th class="h6">Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lista of listavideos">
              <td width="1%"> 
                <i mdbTooltip="Modificar" (click)="loadEdit(lista.idListaVideos)" class="fa fa-pencil cyan-text icon-pointer mr-3"></i>
              </td>
              <td width="1%">
                <i mdbTooltip="Borrar" (click)="showConfirmDelete(lista.idListaVideos)" class="fa fa-trash-o red-text icon-pointer"></i>
              </td>
              <td class="text-center">{{lista.idListaVideos}}</td>
              <td>{{lista.desListaVideos}}</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>

    </div>


    <!--Modal: Create Form-->
    <div mdbModal #form="mdb-modal" class="modal fade" id="modalCrearArea" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto;">
      <div class="row centered">
        <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
          <div class="overlay-content centered">
            <div class="loader centered">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-dialog modal-lg" role="document"><!-- cascading-modal -->
        <!--Content-->
        <div class="modal-content">

          <!--Header-->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">{{titleModal}}</h4>
            <button id="btnCerrar" type="button" class="close waves-effect waves-light"
                    data-dismiss="modal" aria-label="Close" (click)="form.hide()">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            
            <div class="form-row">
                <div class="col">
                  <div class="md-form">
                    <input mdbActive mdbInputDirective type="text" id="form30" class="form-control"
                     [(ngModel)]="listavideo.desListaVideos">
                    <label for="form30">Nombre</label>
                  </div>
                </div>
            </div>

            <div class="form-row">
              <div class="col-4 text-left"><label>V&iacute;deos Disponibles</label></div>
              <div class="col text-left">&nbsp;</div>
              <div class="col-4 text-left"><label>V&iacute;deos Seleccionados</label></div>
              <div class="col text-left">&nbsp;</div>
            </div>
            <div class="form-row">
                <div class="col-4" style="width:600px;overflow:auto;">
                    <select style= "width:600px;" multiple="multiple" [ngModel]="selectedToAdd" class="form-control" size="10" (ngModelChange)="seleccionarVideos($event)">
                          <option class="text-uppercase" *ngFor="let video of videosAll" [ngValue]="video">{{video.desVideo}}</option>
                    </select>
                </div>
                <div class="col text-center">
                    <button type="button" id="btnAllRight" (click)="agregarTodo()" class="btn btn-sm btn-primary"><i class="fa fa-angle-double-right"></i></button><br/>
                    <button type="button" id="btnRight" (click)="agregarItem()" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i></button><br/>
                    <button type="button" id="btnLeft" (click)="quitarItem()" class="btn btn-sm btn-primary"><i class="fa fa-angle-left"></i></button><br/>
                    <button type="button" id="btnAllLeft" (click)="quitarTodo()" class="btn btn-sm btn-primary"><i class="fa fa-angle-double-left"></i></button><br/>
                </div>
                <div class="col-4" style="width:600px;overflow:auto;">
                    <select style= "width:600px;" [ngModel]="selectedToRemove" multiple="multiple" class="form-control"  size="10" (ngModelChange)="seleccionarVideosToRemove($event)">
                      <option *ngFor="let video of selectedVideos" [ngValue]="video">{{video.desVideo}}</option>
                    </select>
                </div>   
                <div class="col text-center">
                    <button type="button" id="btnPrimero" (click)="primero()" class="btn btn-sm btn-primary"><i class="fa fa-angle-double-up"></i></button><br/>
                    <button type="button" id="btnSubir" (click)="subir()" class="btn btn-sm btn-primary"><i class="fa fa-angle-up"></i></button><br/>
                    <button type="button" id="btnBajar" (click)="bajar()" class="btn btn-sm btn-primary"><i class="fa fa-angle-down"></i></button><br/>
                    <button type="button" id="btnUltimo" (click)="ultimo()" class="btn btn-sm btn-primary"><i class="fa fa-angle-double-down"></i></button><br/>
                </div>
            </div>                       

          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-light" data-dismiss="modal"
                    (click)="save()" mdbWavesEffect [disabled]="!enableBtnGuardar">Guardar
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>


    <!-- start confirmModal-->
    <div mdbModal #confirmDelete="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Est&aacute; seguro de borrar este registro?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fa fa-times fa-4x animated rotateIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <button type="button" class="btn btn-danger waves-light" (click)="delete();"
                    mdbWavesEffect [disabled]="!enableBtnBuscar">Borrar
            </button>
            <button type="button" class="btn btn-primary waves-light" (click)="confirmDelete.hide();"
                    mdbWavesEffect [disabled]="!enableBtnBuscar">No
            </button>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- end confirmModal-->

  </div>
</div>



