
<div class="card">
  <div class="card-body">

    <ngx-alerts></ngx-alerts>
    <div class="row centered">
      <div *ngIf="loading" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h3 class="card-title">Monitor de ventanillas</h3>
      <div class="row">

        <div class="col-sm-5">
          <mdb-card class="mb-3 border border-primary">
            <mdb-card-header>Listado de ventanillas</mdb-card-header>
            <mdb-card-body>

              <div class="row">
                <div class="col-sm-6">
                  <label>Oficina</label>
                  <select (ngModelChange)="getVentanillas($event, 'O')" class="browser-default custom-select mb-4 text-uppercase"
                          [(ngModel)]="oficinaSelected">
                    <option [value]="0">Todas</option>
                    <option class="text-uppercase" *ngFor="let o of oficinas"
                            [value]="o.idOficina">{{o.nombre}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label>Area</label>
                  <select (ngModelChange)="getVentanillas($event, 'A')" class="browser-default custom-select mb-4 text-uppercase"
                          [(ngModel)]="areaSelected">
                    <option [value]="0">Todas</option>
                    <option class="text-uppercase" *ngFor="let a of areas"
                            [value]="a.idArea">{{a.nombre}}
                    </option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label>Tipo de atención</label>
                  <select (ngModelChange)="getVentanillas($event, 'TA')" class="browser-default custom-select mb-4 text-uppercase"
                          [(ngModel)]="tipoAtencionSelected">
                    <option [value]="0">Todas</option>
                    <option class="text-uppercase" *ngFor="let t of tiposAtencion"
                            [value]="t.idTipoAtencion">{{t.nombre}}
                    </option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label>Perfil</label>
                  <select (ngModelChange)="getVentanillas($event, 'V')" class="browser-default custom-select mb-4 text-uppercase"
                          [(ngModel)]="pesoSelected">
                    <option [value]="0">Todas</option>
                    <option class="text-uppercase" *ngFor="let p of pesos"
                            [value]="p.idPeso">{{p.nombrePeso}}
                    </option>
                  </select>
                </div>

              </div>

              <h4 class="text-center">Lista de ventanillas</h4>

              <ul class="list-group">
                <li  (click)="setVentanilla(v)"  [ngClass]="{'activeVentanilla': isActiveVentanilla(v)}" *ngFor="let v of ventanillasPagination.content | paginate: { id: 'ventanillasMonitor', itemsPerPage: perPage, currentPage: p, totalItems: ventanillasPagination.totalElements }" class="list-group-item d-flex justify-content-between align-items-center" mdbWavesEffect style=" cursor: pointer;   padding: 0.15rem 0.75rem;">
                  {{v.nombre}} <span  class="text-primary">({{v.oficina.nombre}})</span>
                  <span>
                    <span [tooltip]="' Llamado automatico '+(v.indLlamadoAutomatico? 'activado':'desactivado')" placement="top" show-delay="100" [ngClass]="{'green-text': v.indLlamadoAutomatico, 'red-text': !v.indLlamadoAutomatico}"><i class="fa fa-arrow-circle-o-right mr-3"></i></span>
                    <span [tooltip]="' Usuario '+(v.usuario!=null? 'conectado: '+v.usuario.nombre:'desconectado')" placement="top" show-delay="100" [ngClass]="{'green-text': v.usuario, 'red-text': !v.usuario}"><i class="fa fa-user-circle mr-3"></i></span>
                  </span>
                </li>

              </ul>

              <p class="text-center blue-text" *ngIf="ventanillasPagination.content.length == 0">Sin resultados...</p>

              <div class="mt-4 text-center">
                <pagination-controls
                  id="ventanillasMonitor"
                  (pageChange)="getPage($event)"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  screenReaderPaginationLabel="p"
                  screenReaderPageLabel="p"
                  screenReaderCurrentLabel="Estás en la p">
                </pagination-controls>
              </div>

            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-sm-7">
          <mdb-card class="mb-2 border border-primary">
            <mdb-card-header>Detalles de ventanilla</mdb-card-header>
            <mdb-card-body>
              <h6 *ngIf="!ventanilla" class="text-center mt-2">Seleccione una ventanilla...</h6>


              <div *ngIf="ventanilla">
               <div class="row">
                 <div class="col-sm">
                   <h5 class="font-weight-bold">{{ventanilla.nombre}} <span [ngClass]="{'green-text': ventanilla.usuario, 'red-text': !ventanilla.usuario}"><i class="fa fa-user-circle mr-3"></i></span></h5>
                   <p class="grey-text"><span class="font-weight-bold">Oficina: </span> {{ventanilla.oficina.nombre}}</p>
                 </div>
                 <div class="col-sm text-right">
                   <button *ngIf="ventanilla.usuario" (click)="cerrarSesionVentanilla()" type="button" class="btn-danger" mdbBtn color="primary" mdbWavesEffect>Cerrar sesión</button>
                 </div>
               </div>
                <div  class="row">
                  <div class="col-sm-6">
                    <mdb-card class="mb-2" >
                      <mdb-card-header class="blue-text">Información del Atendedor</mdb-card-header>
                      <mdb-card-body>
                        <ul class="list-group">
                          <li class="list-group-item p-1">
                            <p class="m-0">
                              <span class="font-weight-bold">Atendedor: </span> <span *ngIf="ventanilla.usuario">{{ventanilla.usuario.nombre}} {{ventanilla.usuario.apePaterno}}</span> <span *ngIf="!ventanilla.usuario">Usuario desconectado</span>
                            </p>
                          </li>
                          <li class="list-group-item p-1">
                            <p class="m-0">
                              <span class="font-weight-bold">Estado: </span> <span>{{ventanilla.estadoAtendedor | estadoAtendedor}}</span>
                            </p>
                          </li>
                          <li class="list-group-item p-1">
                            <p class="m-0">
                            <span class="font-weight-bold">Tickets asignados: </span> <span> - </span>
                            </p>
                          </li>
                          <li class="list-group-item p-1">
                            <p class="m-0">
                              <span class="font-weight-bold">Tickets atendidos: </span> <span> - </span>
                            </p>
                          </li>
                          <li class="list-group-item p-1">
                            <p class="m-0">
                              <span class="font-weight-bold">Promedio atención: </span> <span> - </span>
                            </p>
                          </li>
                          <li class="list-group-item p-1">
                            <p class="m-0">
                              <span class="font-weight-bold">Tiempo total atención: </span> <span> - </span>
                            </p>
                          </li>
                        </ul>
                      </mdb-card-body>
                    </mdb-card>
                  </div>

                  <div class="col-sm-6">
                    <mdb-card class="mb-2" >
                      <mdb-card-header class="blue-text">Atributos de la Ventanilla</mdb-card-header>
                      <mdb-card-body>

                        <ul class="list-group">
                          <li class="list-group-item p-1">
                            <p class="m-0">
                              <span class="font-weight-bold">Llamado automático: </span>
                            </p>
                            <span>
                              <ui-switch [(ngModel)]="ventanilla.indLlamadoAutomatico" size="small"></ui-switch>
                            </span>
                            <div *ngIf="indLlamadoAutomaticoTemporal != undefined && !indLlamadoAutomaticoTemporal" class="red-text">Desactivado temporalmente por la ventanilla</div>
                          </li>

                          <li class="list-group-item p-1">
                            <div class="m-0">
                              <span class="font-weight-bold">Perfil: </span>
                              <span>
                                <select class="browser-default custom-select mb-0 text-uppercase"
                                        [(ngModel)]="ventanilla.peso.idPeso">
                                <option class="text-uppercase" *ngFor="let p of pesos"
                                        [value]="p.idPeso">{{p.nombrePeso}}
                                </option>
                              </select>
                              </span>
                            </div>
                          </li>

                          <li class="list-group-item p-1">
                            <div class="m-0">
                              <span class="font-weight-bold">Tiempo Retardo Rellamada (seg): </span>
                              <span>
                                <div class="md-form m-0 mb-3">
                                  <input [(ngModel)]="ventanilla.tiempoRetardoRellamada" mdbActive mdbInputDirective type="text" class="form-control">
                                </div>
                              </span>
                            </div>
                          </li>

                          <li class="list-group-item p-1">
                            <div class="m-0">
                              <span class="font-weight-bold">Número Máximo Rellamada: </span>
                              <span>
                                <div class="md-form m-0 mb-3">
                                  <input [(ngModel)]="ventanilla.numeroMaxRellamada" mdbActive mdbInputDirective type="text" class="form-control">
                                </div>
                              </span>
                            </div>
                          </li>
                        </ul>

                        <div class="text-center mt-3">
                          <button (click)="guardarVentanilla()" type="button" mdbBtn color="primary" mdbWavesEffect>Guardar cambios</button>
                        </div>


                      </mdb-card-body>
                    </mdb-card>
                  </div>
                </div>
              </div>

            </mdb-card-body>
          </mdb-card>
        </div>

      </div>
    </div>

  </div>
</div>




