<p-card>
	<div class="ui-g mt-3" style="text-align: center; margin: 0 auto;">
		<div class="ui-g-12 mt-3">
			<p-header>
				<h1>¡GRACIAS POR SER PARTE DE ESTE EQUIPO!</h1>
			</p-header>

			<h2 class="mt-3">TU CUENTA FUE ACTIVADA</h2>
			<a class="btn boton_act" tabindex="0" href="#/login">CONTINUAR</a>

			<div class="ui-g-12 mt-3">
				<img class="img_act" alt="Bienvenido" src="assets/layout/images/logo2.png">
				<p>Team Entre Patas Chepén</p>
			</div>

		</div>
	</div>
	<app-pagina-interes></app-pagina-interes>
</p-card>