<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <input type="hidden" [(ngModel)]="data">
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirm(data)" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">
    <p-panel [style]="{'margin-bottom':'20px'}">
      <p-header>
        <span class="ui-panel-title">Adopciones</span>
      </p-header>

      <p-table #dt [columns]="cols" [value]="adopciones" dataKey="idDirectorio" [paginator]="true" [rows]="perPage" [totalRecords]="totalRecords" 
        [responsive]="true" paginatorPosition="bottom" [lazy]="true" (onLazyLoad)="loadLazy($event)">

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
            <col style="width: 150px">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns let-pro>
          <tr>
            <th *ngFor="let col of columns" id="col.id" [pSortableColumn]="col.field" style="text-align: left">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width:15em" id="">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">

            <td>
              <span>
                {{rowData.persona.nombreCompleto}}
              </span>
            </td>
            <td>
              <span>
                {{rowData.persona.numeroDocumento}}
              </span>
            </td>
            <td>
              <span>
                {{rowData.persona.ubigeo.nombre}} - {{rowData.persona.direccion}}
              </span>
            </td>
            <td>
              <span>
                {{rowData.persona.celular}}
              </span>
            </td>

            <td>
              <span>
                {{rowData.animal.nombre}} / {{rowData.animal.sexo}}
              </span>
            </td>
            <td>
              <img src="{{rowData.animal.foto}}" width="60px" height="60px">
            </td>
            <td>
              <span>
                {{rowData.fechaEntrega | date:'dd/MM/yyyy'}}
              </span>
            </td>

            <td>
              <span *ngIf="rowData.estadoAdopcion=='RESERVADO'" class="label arrowed label-primary">
                {{rowData.estadoAdopcion}}
              </span>
              <span *ngIf="rowData.estadoAdopcion=='ENTREGADO'" class="label arrowed label-important">
                {{rowData.estadoAdopcion}}
              </span>
            </td>
            <td style="text-align: center">
              <a *ngIf="rowData.estadoAdopcion=='RESERVADO'" (click)="doAction(rowData, 'ANULADO');">
                <button pButton type="button" icon="pi pi-ban" class="ui-button-danger space-buttons"
                  tooltip="Anular"></button>
              </a> &nbsp;
              <a *ngIf="rowData.estadoAdopcion=='RESERVADO'" (click)="showDialogEntrega(rowData)">
                <button pButton type="button" icon="fa fa-handshake-o" class="ui-button-success space-buttons"
                  tooltip="Entregar"></button>
              </a> &nbsp;
              <a *ngIf="rowData.estadoAdopcion=='ENTREGADO'" (click)="showDialogDevolucion(rowData)">
                <button pButton type="button" icon="fa fa-thumbs-down" class="ui-button-warning space-buttons"
                  tooltip="Devolver"></button>
              </a> &nbsp;
              <a [routerLink]="linkUpdate(rowData['id'])" class="hand">
                <button pButton type="button" icon="fa fa-eye" class="ui-button-secondary space-buttons"
                  tooltip="Ver"></button>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

  <p-dialog header="ESTA SEGURO DE ENTREGAR?" [(visible)]="modalEntrega" [modal]="true" [responsive]="true"
    [style]="{width: '350px',  height: '500px'}" [baseZIndex]="10000">
    <div>
      <label for="">Ingrese la fecha de entrega de la mascota</label>
      <input type="hidden" [(ngModel)]="adopcion">
      <p-calendar [(ngModel)]="fechaEntrega" [locale]="es" dateFormat="dd/mm/yy" [inline]="true"></p-calendar>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa fa-handshake-o" (click)="doAction(adopcion, 'ENTREGADO')" label="ENTREGAR"
        class="ui-button-success"></button>
      <button type="button" pButton icon="fa fa-times-circle" (click)="modalEntrega=false" label="SALIR"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="ESTA SEGURO DE DEVOLVER?" [(visible)]="modalDevolucion" [modal]="true" [responsive]="true"
    [style]="{width: '400px',  height: '500px'}" [baseZIndex]="10000">
    <div>
      <label for="">Ingrese la fecha de devolución de la mascota</label>
      <input type="hidden" [(ngModel)]="adopcion">
      <p-calendar [(ngModel)]="fechaDevolucion" [locale]="es" dateFormat="dd/mm/yy" [inline]="true"></p-calendar>
      <label for="">Ingrese el motivo</label>
      <textarea rows="5" cols="20" pInputTextarea name="descripcion" [(ngModel)]="motivoDevolucion" 
      maxlength="200"></textarea>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa fa-thumbs-down" (click)="doAction(adopcion, 'DEVUELTO')" label="DEVOLVER"
        class="ui-button-success"></button>
      <button type="button" pButton icon="fa fa-times-circle" (click)="modalDevolucion=false" label="SALIR"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</div>