<!-- <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast> -->
<p-card>
    <div class="ui-g ui-fluid">

        <div class="ui-g-12">
            <h2 class="col-12 tit_evento">
                PROXIMOS EVENTOS
            </h2>

            <p-dataView #dv [value]="eventos" [paginator]="true" [rows]="8" filterBy="name"
            [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                            <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                            </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-data pTemplate="gridItem">
                    <div class="ui-g-12 ui-md-4 ui-lg-3 cont-tarjeta">
                        <div class='card'>
                            <img class='card-img-top img-fluid'src="{{data.banner}}" (click)="getPublicacion($event, data)">

                            <h4 class="titulo_card pulso_infinito">
                                {{data.titulo}}
                                <!-- <p-panel [header]="data.titulo"> </p-panel> -->
                            </h4>

                            <div class="card-block">
                                <p> {{data.descripcion}} </p>
                                <label><b>DIA: </b>  {{data.fecha | date: 'dd-MM-yyyy'}}</label>
                                <label><b>HORA: </b> {{data.fecha | date: 'h:mm a'}}</label>
                                <label><b>LUGAR: </b> {{data.ubigeo.nombre}}</label>
                                <label><b>DIRECCIÓN: </b> {{data.direccion}}</label>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </p-dataView>
        </div>
    </div>
</p-card>
<app-pagina-interes></app-pagina-interes>