<p-card>
    <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
    <form (ngSubmit)="save()">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6 ui-lg-4 cont-tarjeta">
                <div class="tarjeta">
                    <h2>Cambiar contraseña</h2>
                    <div class="ui-g-12">
                        <div class="form-group mt-2">
                            <label>Contraseña actual(*)</label>
                            <input class="form-control" type="password" name="passwordRequest.currentPassword"
                                [(ngModel)]="passwordRequest.currentPassword" pInputText />
                        </div>
                        <div class="form-group mt-2">
                            <label>Nueva contraseña (*)</label>
                            <input class="form-control" type="password" name="passwordRequest.newPassword"
                                [(ngModel)]="passwordRequest.newPassword" pInputText />
                        </div>

                        <div class="form-group mt-2">
                            <label>Repetir nueva contraseña (*)</label>
                            <input class="form-control" type="password" name="passwordRequest.confirmPassword"
                                [(ngModel)]="passwordRequest.confirmPassword" pInputText />
                        </div>

                    </div>
                    &nbsp;
                </div>
            </div>
        </div>

        <div style="text-align: center; margin-top: 1rem;">
            <button pButton type="submit" [label]="'ACTUALIZAR'" icon="fa fa-save"
                class="ui-button-success btn"></button>
        </div>

    </form>
</p-card>