<p-card>
    <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
    <form (ngSubmit)="save()">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6 ui-lg-4 formulario centrar">
                
                    <p>Cambiar contraseña</p>
                    <div class="ui-g-12">
                        <div class="form-group mt-2">
                            <label>Contraseña actual(*)</label>
                            <input class="form-control" type="password" name="passwordRequest.currentPassword"
                                [(ngModel)]="passwordRequest.currentPassword" placeholder="*****" pInputText />
                        </div>
                        <div class="form-group mt-2">
                            <label>Nueva contraseña (*)</label>
                            <input class="form-control" type="password" name="passwordRequest.newPassword"
                                [(ngModel)]="passwordRequest.newPassword" placeholder="*****" pInputText />
                        </div>

                        <div class="form-group mt-2">
                            <label>Repetir nueva contraseña (*)</label>
                            <input class="form-control" type="password" name="passwordRequest.confirmPassword"
                                [(ngModel)]="passwordRequest.confirmPassword" placeholder="*****" pInputText />
                        </div>

                    </div>

        <div class="ui-g-12">
            <button pButton type="submit" [label]="'ACTUALIZAR'" icon="fa fa-save"
                class="ui-button-success btn"></button>
        </div>
        
            </div>
        </div>


    </form>
</p-card>