
.formulario{
    margin:0 auto;
    margin-top: 40px;
    width: 300px;
    padding: 5px 20px;
    border-top: 5px solid #0D47A1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    background:#fff;
}
.formulario img{
    width: 80px;
    border-radius: 50%;
}
.formulario p{
    color: #0D47A1;
    font-family: 'bebas_neueregular', Arial;
    margin-top: 10px;
    font-size: 30px;
    animation-name: pulso;
    animation-duration: 1s;
    animation-fill-mode: both;
}



.img_circular {
	width: 200px;
	height: 200px;
    border-radius: 20px;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.tarjeta{
	padding: 15px;
	padding-top: 5px;
	height: 300px;
	border-top: 3px solid #0D47A1;
	// box-shadow: 0 1px 3px -1px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.tarjeta h2{
		color: #0D47A1;
		font-weight: bold;
		text-transform: uppercase;
}
