<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 style="text-align: center;">REPORTE GENERAL</h1>
            <div class="ui-g form-group">
                <div class="row ui-g-12">
                        <div class="ui-g-2 ui-md-1">
                                <label for="dropdown">Indice F7</label>
                        </div>
                        <div class="ui-g-2 ui-md-2">
                            <p-dropdown [options]="dataListaTipoCoberturaSugerida" [(ngModel)]="tipoCoberturaSelected" 
                                    placeholder="TODAS" optionLabel="name" (onChange)="onChangeFilter()"></p-dropdown>        
                        </div>

                        <div class="ui-g-2 ui-md-1">
                                <label for="dropdown">Filtro</label>
                        </div>
                        <div class="ui-g-2 ui-md-4">
                                <p-dropdown [options]="dataListaFiltro" [(ngModel)]="filtroSelected" 
                                placeholder="NINGUNO" optionLabel="name" (onChange)="onChangeFilter()"></p-dropdown>  
                        </div>
                        <div class="ui-g-2 ui-md-2" >
                            <button pButton  label="Aceptar" (click)="buscarProductosXFiltros()"  style="background: #eb0000;color: white;"></button>
                        </div>

                </div>

            </div>
            <div class="ui-g form-group">
                
                    <div class="row row ui-g-8">
                        <p-toast key="msg"></p-toast>
                        <div *ngIf="showFilter1">
                                <div class="ui-g-12 ui-md-2">
                                        <label for="dropdown">{{labelFiltro1}}</label>
                                </div>
                                <div class="ui-g-12 ui-md-4">
                                            <input *ngIf="!isComboFilter1"  name="inputFilter1" mdbInputDirective type="text" id="inputFilter1" class="form-control"
                                            [(ngModel)]="inputFilter1" pInputText>
                                          <p-dropdown *ngIf="isComboFilter1"  [options]="listCombo1" [(ngModel)]="filterCombo1Selected" 
                                              placeholder="SELECCIONE" optionLabel="name" ></p-dropdown> 
                                </div>

                        </div>
                        <div *ngIf="showFilter2">
                                <div class="ui-g-12 ui-md-2">
                                        <label for="dropdown">{{labelFiltro2}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-4">
                                            <input *ngIf="!isComboFilter2" name="inputFilter2" mdbInputDirective type="text" id="inputFilter2" class="form-control"
                                            [(ngModel)]="inputFilter2" pInputText>   
                                          <p-dropdown *ngIf="isComboFilter2"  [options]="listCombo2" [(ngModel)]="filterCombo2Selected" 
                                            placeholder="SELECCIONE" optionLabel="name" ></p-dropdown> 
                                    </div>

                        </div>
                    </div>

            </div>
            
            <p-table [columns]="cols" [value]="listProductos" [totalRecords]="totalRecords"   [scrollable]="true" selectionMode="single" dataKey="vin"  
                     [paginator]="true" [rows]="perPage" 
                     [responsive]="true"  
                     paginatorPosition="bottom"   >
                
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                            <col *ngFor="let col of columns" style="width:180px">
                    </colgroup>
                </ng-template>
               
                
                <ng-template pTemplate="caption">
                    LISTA DE PRODUCTOS
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <div style="text-align:left">
                        <p-button style="margin-right: 0.3rem;" type="button" icon="fa fa-file-excel-o"
                                  (onClick)="exportExcel()"  label="Exportar a Excel"></p-button>

                        <button style="margin-right: 0.3rem;" type="button" pButton icon="fa fa-file-excel-o"
                                (click)="openImport()" label="Importar de excel"></button>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="Importar items desde excel" [(visible)]="display" [modal]="true" [responsive]="true"
   [style]="{width: '600px', minWidth: '300px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
   <p-toast key="tst"></p-toast>
   <div >
        <label for="form-control">Ingresar Motivo: </label>
            <input name="motivo" mdbInputDirective type="text" id="motivo" class="form-control"
            [(ngModel)]="motivo" pInputText>
     </div>
     <br>
  <p-fileUpload accept=".xlsx" (uploadHandler)="onFileUpload($event)" [customUpload]="true"
              chooseLabel="Selecciona un archivo excel" uploadLabel="Subir excel"
              cancelLabel="Cancelar" name="file"
              [multiple]="false" maxFileSize="1000000">
      <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}}
                  bytes
              </li>
          </ul>
      </ng-template>
  </p-fileUpload>
  </p-dialog>
