.titulo{
	font-size: 28px;
	font-weight: bold;
	color:#E91E63;
	margin: 0;
	text-align: center;
}
.tamanio{
	border: none;
	border-radius: 50%;
	width: 85%;
	height: 185px;
	padding-top:10px;
	padding-bottom:10px;
	&:hover{
		cursor: pointer;
		// animation: pulso 1s infinite alternate;
	}
}
// .cont-tarjeta{
// 	padding: 15px;
// }
// .tarjeta,.tarjeta2{
// 	//box-shadow: 0 0 6px rgba(0,0,0,.3); //Sombra de las mascota en la publicacion
// 	border: none;
// 	border-radius: 10px;
// 	box-shadow: 0 1px 3px -1px rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
// 	// border-top: 5px solid #0D47A1;
// 	padding-bottom: 1.5px;
// 	transition:.3s;
// }
.tarjeta:hover{
	//box-shadow: 0 0 8px #E91E63; //Sombra de las mascota en la publicacion
	//box-shadow: 0 0 7px rgba(0,0,0,.2);; //Sombra de las mascota en la publicacion
	box-shadow: 0 2px 6px -1px rgba(0,0,0,.2), 0 2px 6px 1px rgba(0,0,0,.14), 0 2px 6px -1px rgba(0,0,0,.12);
	transition:.35s;
}

.tar_titulo{
	font-size: 18px;
	font-weight: bold;
	color: #0D47A1;
	text-align: center;
}
.tar_concepto{
	font-size: 15px;
	font-weight: normal;
	color: black;
}

span{
	margin:0 2.5px;
	text-transform: uppercase;
}

aria-autocomplete::-webkit-input-placeholder,::-webkit-input-placeholder{
	color: rgba(0,0,0,0.25)	
}
input:focus{
	border: 1px solid #66AB2E;
	&::-webkit-input-placeholder{
		color: rgba(0,0,0,0.15)
	}
}


// body .ui-dialog {
// 	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
// 	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
// 	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
// 	border: none;
// 	border-radius: 15px;
// }

@keyframes pulso {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

 .flipInY2 {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation:flipInY 2s infinite alternate;
}


@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@media screen and (min-width: 380px){
	.ui-md-3 {
		width: 50% !important;
		margin:0 auto !important;
	}
}
@media screen and (min-width: 768px){
	.ui-md-3 {
		width: 30% !important;
	}
}
@media screen and (min-width: 1300px){
	.ui-md-3 {
		width: 20% !important;
	}
	// .tamanio{
	// width: 185px;
	// height: 185px;
	// }
}