<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<p-card>
    <div class="ui-g ui-fluid">

        <div class="ui-g-12">
            <div class="row justify-content-center">
                <h2 class="col-12 text-center pag_principal esp_arriba mb-4">
                    ADOPTA Y SALVA DOS VIDAS
                </h2>
                <!-- <p-dataView #dv [value]="publicaciones" [paginator]="true" [rows]="20" paginatorPosition="both"
                    filterBy="brand" [sortField]="sortField" [sortOrder]="sortOrder">
                    <p-header>
                        <div class="ui-helper-clearfix">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-4">
                                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                                        (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                                </div>
                                <div class="ui-g-6 ui-md-4">
                                    <div style="position:relative">
                                        <input type="search" pInputText placeholder="Search by brand"
                                            (input)="dv.filter($event.target.value)">
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-md-4" style="text-align:right">
                                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                </div>
                            </div>
                        </div>
                    </p-header>
                    <ng-template let-data pTemplate="listItem">
                        <div class="ui-g-12">
                            <div class="car-details">
                                <div>
                                    <img src="{{data.animal.foto}}"
                                        width="80px" height="90px">
                                    <div class="ui-g">
                                        <div class="ui-g-12">Edad: <b>{{data.animal.edad}}</b></div>
                                        <div class="ui-g-12">Sexo: <b>{{data.animal.sexo}}</b></div>

                                    </div>
                                </div>
                                <button pButton type="button" icon="pi pi-search"
                                    (click)="getPublicacion($event, data)"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-data pTemplate="gridItem">
                        <div style="padding:.5em" class="ui-g-12 ui-md-3">
                            <p-panel [header]="data.animal.nombre" [style]="{'text-align':'center'}">
                                <img src="{{data.animal.foto}}" width="180px"
                                    height="200px" (click)="getPublicacion($event, data)">
                                <div class="car-detail">{{data.animal.sexo}} </div>
                                <hr class="ui-widget-content" style="border-top:0">
                                <span *ngIf="data.condicion.nombre=='ENCONTRADO'" class="label arrowed label-info">
                                    {{data.condicion.nombre}}
                                </span>
                                <span *ngIf="data.condicion.nombre=='PERDIDO'"  class="label arrowed label-warning">
                                    {{data.condicion.nombre}}
                                 </span>
                                 <span  *ngIf="data.condicion.nombre=='ADOPCION'" class="label arrowed label-succes">
                                  {{data.condicion.nombre}}
                               </span>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-dataView> -->

                <p-dataView #dv [value]="publicaciones" [paginator]="true" [rows]="9" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
        
                <ng-template let-data pTemplate="gridItem">
                    <!-- <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">{{data.animal.nombre}}</span>
                                </div>
                                <span [class]="'product-badge status-' + data.animal.nombre.toLowerCase()">{{data.animal.nombre}}</span>
                            </div>
                            <div class="product-grid-item-content">
                                <img [src]=" data.animal.foto" width="180px" height="200px"/>
                                <div class="product-name">{{data.name}}</div>
                                <div class="product-description">{{data.description}}</div>
                                <p-rating [ngModel]="data.rating" [readonly]="true" [cancel]="false"></p-rating>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">${{data.price}}</span>
                                <p-button icon="pi pi-shopping-cart" [disabled]="data.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                            </div>
                        </div>
                    </div> -->
                    <div style="padding:.5em" class="ui-g-12 ui-md-3">
                        <p-panel [header]="data.animal.nombre" [style]="{'text-align':'center'}">
                            <img src="{{data.animal.foto}}" width="180px"
                                height="200px" (click)="getPublicacion($event, data)">
                            <div class="car-detail">{{data.animal.sexo}} </div>
                            <hr class="ui-widget-content" style="border-top:0">
                            <span *ngIf="data.condicion.nombre=='ENCONTRADO'" class="label arrowed label-info">
                                {{data.condicion.nombre}}
                            </span>
                            <span *ngIf="data.condicion.nombre=='PERDIDO'"  class="label arrowed label-warning">
                                {{data.condicion.nombre}}
                             </span>
                             <span  *ngIf="data.condicion.nombre=='ADOPCION'" class="label arrowed label-succes">
                              {{data.condicion.nombre}}
                           </span>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataView>
                <p-dialog header="Hola, Gracias por considerarme" [(visible)]="displayDialog" [style]="{width: '50vw'}"
                    [baseZIndex]="10000" [responsive]="true">
                    <div class="ui-g" *ngIf="selectPublicacion">
                        <div class=" ui-g-12 ui-md-4">
                            <div class="ui-g-12" style="text-align:center">
                                <img src="{{selectPublicacion.animal.foto}}"
                                    width="200px" height="250px">
                            </div>
                        </div>
                        <div class=" ui-g-12 ui-md-8">
                            <p-tabView>
                                <p-tabPanel header="Mis datos" leftIcon="fa fa-info-circle">
                                    <div class="ui-g-4">Nombre: </div>
                                    <div class="ui-g-8">{{selectPublicacion.animal.nombre}}</div>

                                    <div class="ui-g-4">Edad: </div>
                                    <div class="ui-g-8">{{selectPublicacion.animal.edad}}</div>

                                    <div class="ui-g-4">Raza: </div>
                                    <div class="ui-g-8">{{selectPublicacion.animal.raza.nombre}}</div>

                                    <div class="ui-g-4">sexo: </div>
                                    <div class="ui-g-8">{{selectPublicacion.animal.sexo}}</div>

                                    <div class="ui-g-4">Tamaño: </div>
                                    <div class="ui-g-8">{{selectPublicacion.animal.tamanoAnimal.nombre}}</div>
                                </p-tabPanel>
                                <p-tabPanel header="Solicitar adopción" leftIcon="fa fa-file-text-o">
                                    <div class="ui-g ui-fluid">
                                        <div class=" ui-g-12 ui-md-12">
                                            <p-card>
                                                <div class="ui-g">
                                                    <div class="ui-g-6">
                                                        <h5 class="label-custom">Tipo Documento (*)</h5>

                                                        <p-autoComplete [(ngModel)]="tipoDocumento" [suggestions]="listTipoDocumento"
                                                        field="abreviatura" name="perfilSelected" [size]="15"
                                                        (completeMethod)="filterListTipoDocumento($event)" [minLength]="1"
                                                        placeholder="Seleccione tipo documento" [dropdown]="true" [readonly]="true">
                                
                                                    </p-autoComplete>
                                                    </div>
                                                    <div class="ui-g-6">
                                                        <h5 class="label-custom">Documento (*) [PRESS ENTER]</h5>
                                                        <input style="width: 100%;" type="text" name="documento"
                                                            [(ngModel)]="documento" (keydown.enter)="getPersona()" [textMask]="{mask: numberMask}" pInputText />

                                                    </div>

                                                    <div class="ui-g-4">
                                                        <h5 class="label-custom">Nombres (*)</h5>
                                                        <input style="width: 100%;" type="text" name="nombres"
                                                            [(ngModel)]="nombres" pInputText />

                                                    </div>
                                                    <div class="ui-g-4">
                                                        <h5 class="label-custom">Apellido Paterno (*)</h5>
                                                        <input style="width: 100%;" type="text" name="apePaterno"
                                                            [(ngModel)]="apePaterno" pInputText />

                                                    </div>
                                                    <div class="ui-g-4">
                                                        <h5 class="label-custom">Apellido Materno (*)</h5>
                                                        <input style="width: 100%;" type="text" name="apeMaterno"
                                                            [(ngModel)]="apeMaterno" pInputText />

                                                    </div>

                                                    <div class="ui-g-6">
                                                        <h5 class="label-custom">Email (*)</h5>
                                                        <input style="width: 100%;" type="text" name="email"
                                                            [(ngModel)]="email" pInputText />

                                                    </div>
                                                    <div class="ui-g-6">
                                                        <h5 class="label-custom">Ciudad (*)</h5>
                                                        <p-autoComplete field="descripcion" [(ngModel)]="ubigeo"
                                                            name="ubigeo" [suggestions]="filteredCities"
                                                            (completeMethod)="filterCitiesByNombre($event)" [size]="40"
                                                            placeholder="Ingrese ubigeo" [minLength]="1">
                                                            <ng-template let-d pTemplate="item">
                                                                {{d.codDepartamento}}{{d.codProvincia}}{{d.codDistrito}}
                                                                - {{d.descripcion}}
                                                            </ng-template>
                                                        </p-autoComplete>
                                                    </div>
                                                    <div class="ui-g-6">
                                                        <h5 class="label-custom">Dirección (*)</h5>
                                                        <input style="width: 100%;" type="text" name="direccion"
                                                            [(ngModel)]="direccion" pInputText />

                                                    </div>
                                                    <div class="ui-g-6">
                                                        <h5 class="label-custom">Celular </h5>
                                                        <input style="width: 100%;" type="text" name="celular"
                                                            [(ngModel)]="celular" [textMask]="{mask: numberMask}" pInputText />

                                                    </div>

                                                    <div class="ui-g-12" text-align: center style="text-align: center;">
                                                        <button
                                                            style="width: auto; margin-top: 1.2rem;  font-size: 15px;"
                                                            pButton label="Enviar Solicitud" (click)="save()"
                                                            class="ui-button-rounded ui-button-success"></button>

                                                    </div>


                                                </div>

                                            </p-card>
                                        </div>

                                    </div>
                                </p-tabPanel>

                            </p-tabView>

                        </div>


                    </div>
                    <p-footer>
                        <button type="button" pButton icon="pi pi-times"  label="Cerrar"
                            class="ui-button-secondary" (click)="limpiarData()"></button>
                    </p-footer>
                </p-dialog>
            </div>

        </div>

        <div class="ui-g-12">
            <div class="row justify-content-center">
                <h2 class="col-12 text-center pag_principal esp_arriba mb-4">
                    PÁGINAS DE INTERÉS
                </h2>
                <div class="ui-g-2">
                    <a href="http://entrepatasch.com/entrepatas/proceso_adopcion">
                        <img class="pag_imagen" src="assets/layout/images/proceso.png" alt="">
                        <h3 class="pag_titulo">NUESTRO PROCESO</h3>
                        <p>Enteráte de todos nuestros eventos realizados.</p>
                    </a>
                </div>
                <div class="ui-g-2">
                    <a href="http://entrepatasch.com/entrepatas/evento/eventosPaginasInteres">
                        <img class="pag_imagen" src="assets/layout/images/evento.png" alt="">
                        <h3 class="pag_titulo">EVENTOS</h3>
                        <p>Enteráte de todos nuestros eventos realizados.</p>
                    </a>
                </div>
                <div class="ui-g-2">
                    <a href="http://entrepatasch.com/entrepatas/colabora">
                        <img class="pag_imagen" src="assets/layout/images/colabora.png" alt="">
                        <h3 class="pag_titulo">COLABORA CON EL REFUGIO</h3>
                        <p>Enteráte de todos nuestros eventos realizados.</p>
                    </a>
                </div>
                <div class="ui-g-2">
                    <a href="http://entrepatasch.com/entrepatas/unete">
                        <img class="pag_imagen" src="assets/layout/images/unete.png" alt="">
                        <h3 class="pag_titulo">ÚNETE</h3>
                        <p>Enteráte de todos nuestros eventos realizados.</p>
                    </a>
                </div>

                <div class="ui-g-2">
                    <a href="http://entrepatasch.com/entrepatas/webamigas">
                        <img class="pag_imagen" src="assets/layout/images/webamigas.png" alt="">
                        <h3 class="pag_titulo">WEB AMIGAS</h3>
                        <p>Enteráte de todos nuestros eventos realizados.</p>
                    </a>
                </div>
            </div>

        </div>

    </div>
</p-card>