<div class="topbar clearfix">
    <div class="topbar-right">
        <div class="layout-topbar">
            <a class="menu-button">
                <i class="pi pi-bars"></i>
            </a>
            <a class="logo hidden-xs-down" href="#/">
                <img class="ng-tns-c1-0" height="50px" alt="logo" src="assets/layout/images/logo2.png"> <!-- <span>ENTRE PATAS</span> -->
            </a>
            <!-- <div class="app-theme" tooltipposition="bottom">
                <img class="ng-tns-c1-0" src="assets/showcase/images/themes/saga-blue.png">
            </div> -->
            <ul class="topbar-menu">
                <li class="topbar-submenu">
                    <a class="ng-tns-c2-0" tabindex="0" href="#/adopta">
                    <img class="profile-image" src="assets/layout/images/pata.png" /><br>
                    <span class="hidden-xs-down">Adopta</span>
                    </a>
                    <!---->
                </li>
                <li class="topbar-submenu" >
                    <a class="ng-tns-c2-0" tabindex="0" href="#/conocenos">
                    <img class="profile-image"  src="assets/layout/images/lupa.png" /><br>
                    <span class="hidden-xs-down">Conocenos</span>
                    </a>
                    <!---->
                </li>
                <li class="topbar-submenu">
                    <a class="ng-tns-c2-0" tabindex="0" href="#/login">
                    <img class="profile-image"  src="assets/layout/images/registro.png" /> <br>
                    <span class="hidden-xs-down">Perfil</span>
                    </a>
                    <!---->
                </li>

            </ul>
        </div>

        <!-- <ul class="topbar-items fadeInDown">
            <li  class="profile-item">
                <a href="#" routerLink="/login">
                    <img class="profile-image" src="assets/layout/images/registro.png" />
                    <span class="hidden-xs-down">Adopta</span>
                </a>
            </li>
            <li  class="profile-item">
                <a href="#" routerLink="/conocenos">
                    <img class="profile-image" src="assets/layout/images/lupa.png" />
                    <span class="hidden-xs-down">Conocenos</span>
                </a>
            </li>
            <li  class="profile-item">
                <a  href="#" routerLink="/adopta">
                    <img class="profile-image" src="assets/layout/images/pata.png" />
                    <span class="hidden-xs-down">Adopta</span>
                </a>
            </li>
        </ul>
         -->
<!--         
            <div class="menu_logo">
                <a href="#" class='ml-4'>
                <img src="http://entrepatasch.com/entrepatas/disenio/img/logo.png" class="hidden-xs-down" alt="Logo entre Patas" title="Logo entre Patas">
                <span>ENTRE PATAS</span>
                </a>
            </div>


            <nav class="menu2">
                <a href="#" class=" ">
                <div class=" ">
                    <img class='pulso_infinito'  src="assets/layout/images/pata.png" alt="">
                    <span class="hidden-xs-down">Adopta</span>
                </div>                  
                </a>

                <a href="#" class=" ">
                <div class=" ">
                    <img  src="assets/layout/images/lupa.png" alt="">
                    <span class="hidden-xs-down">Conocenos</span>
                </div>                  
                </a>

                <a href="#" class=" ">
                <div class=" ">
                    <img  src="assets/layout/images/registro.png" alt="">
                    <span class="hidden-xs-down">Perfil</span>
                </div>                  
                </a>
            </nav>
             -->

    </div>
</div>