<div class="topbar clearfix">
    <div class="topbar-right">
        <div class="layout-topbar">
            <a class="menu-button">
                <i class="pi pi-bars"></i>
            </a>
            <a class="logo hidden-xs-down" href="#/">
                <img class="topbar-logo" alt="logo" src="assets/layout/images/logo2.png">
                <span class="text">ENTRE PATAS</span>
            </a>
            
            <ul class="topbar-menu">
                <li class="topbar-submenu">
                    <a class="ng-tns-c2-0" tabindex="0" href="#/adopta">
                    <img class="profile-image" src="assets/layout/images/pata1.png" /><br>
                    <span class="hidden-xs-down">Adopta</span>
                    </a>
                    <!---->
                </li>
                <li class="topbar-submenu" >
                    <a class="ng-tns-c2-0" tabindex="0" href="#/conocenos">
                    <img class="profile-image"  src="assets/layout/images/conoce.png" /><br>
                    <span class="hidden-xs-down">Conocenos</span>
                    </a>
                    <!---->
                </li>
                <li class="topbar-submenu">
                    <a class="ng-tns-c2-0" tabindex="0" href="#/login">
                    <img class="profile-image"  src="assets/layout/images/registro.png" /> <br>
                    <span class="hidden-xs-down">Perfil</span>
                    </a>
                    <!---->
                </li>

            </ul>
        </div>

    </div>
</div>