<div class="topbar clearfix">
    <div class="topbar-right">
        <ul class="topbar-items fadeInDown">
            <li  class="profile-item">

                <a href="#" routerLink="/login">
                    <img class="profile-image" src="assets/layout/images/registro.png" />
                </a>
            </li>
            <li  class="profile-item">
                <a href="#" routerLink="/conocenos">
                    <img class="profile-image" src="assets/layout/images/lupa.png" />
                </a>
            </li>
            <li  class="profile-item">
                <a  href="#" routerLink="/adopta">
                    <img class="profile-image" src="assets/layout/images/pata.png" />
                </a>
            </li>
        </ul>
    </div>
</div>