/* You can add global styles to this file, and also import other style files */
/* UTILS */


.title-center {
    text-align: center;
    font-size: 25px !important;
    font-weight: 500 !important;
}

.title-center-menu {
    text-align: center;
    font-size: 25px !important;
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
}

// .center {
//     text-align: center;
// }

// .right {
//     text-align: right;
// }

.cursor-pointer {
    cursor: pointer;
}

.capitalized {
    text-transform: lowercase;
}

.capitalized::first-letter {
    text-transform: uppercase;
}

.mt-1 {
    margin-top: .25rem!important;
}
.mt-2 {
    margin-top: .5rem!important;
}
.mt-3 {
    margin-top: 1rem!important;
}

.form-group {
    margin-bottom: 1rem;
}


.saldo-label{
    color: #3b7e0e;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.saldo-label-blue{
    color: #0e70ff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.saldo-label-red{
    color: #eb0117;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.saldo-label-fp{
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.saldo-monto{
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.monto-fp{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    font-size: 13px;
}

// .mb-1{
//     margin-bottom: 1rem;
// }

// .mtb-1{
//     margin-bottom: 0.5rem;
//     margin-top: 0.5rem;
// }


.label {
    border-radius: 5px;
    text-shadow: none;
    font-size: 12px;
    font-weight: normal;
    margin: 5px;
    padding: 3px 10px 3px;
    background-color: #abbac3 !important;
    color: #fff !important;
}

.label[class*="span"][class*="arrow"] {
    min-height: 0
}

.badge {
    text-shadow: none;
    font-size: 12px;
    padding: 1px 15px;
    font-weight: normal;
    line-height: 15px;
    background-color: #ABBAC3 !important;
    color: #fff !important;
}

.label-transparent,
.badge-transparent {
    background-color: transparent !important
}

.label-grey,
.badge-grey {
    background-color: #a0a0a0 !important
}

.label-info,
.badge-info {
    // background-color: #3a87ad !important
    background-color: #80d8ff !important
}

.label-primary,
.badge-primary {
    background-color: #2283c5 !important
}

.label-success,
.badge-success {
    background-color: #4CAF50 !important
}
.label-danger,
.badge-danger {
    background-color: #F44336 !important
}
.label-warning,
.badge-warning {
    background-color: #FFD600 !important
}
.label-info,
.badge-info {
    background-color: #039BE5 !important
}
.label-pinki,
.badge-pinki {
    background-color: #D500F9 !important
}

.label-important,
.badge-important {
    background-color: #d15b47 !important
}

.label-inverse,
.badge-inverse {
    background-color: #333 !important
}

.label-warning,
.badge-warning {
    // background-color: #f89406 !important
    background-color: #ffc107 !important
}

.label-pink,
.badge-pink {
    background-color: #d6487e !important
}

.label-purple,
.badge-purple {
    background-color: #9585bf !important
}

.label-yellow,
.badge-yellow {
    background-color: #fee188 !important
}

.label-light,
.badge-light {
    background-color: #e7e7e7 !important
}

.badge-yellow,
.label-yellow {
    color: #963 !important;
    border-color: #fee188
}

.badge-light,
.label-light {
    color: #888 !important
}

.label.arrowed,
// .label.arrowed-in {
//     position: relative;
//     margin-left: 9px
// }

// .label.arrowed:before,
// .label.arrowed-in:before {
//     display: inline-block;
//     content: "";
//     position: absolute;
//     left: -14px;
//     top: 0;
//     border: 9px solid transparent;
//     border-width: 9px 7px;
//     border-right-color: #abbac3
// }

.label.arrowed-in:before {
    border-color: #abbac3;
    border-left-color: transparent !important;
    left: -9px
}

.label.arrowed-right,
.label.arrowed-in-right {
    position: relative;
    margin-right: 9px
}

.label.arrowed-right:after,
.label.arrowed-in-right:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: -14px;
    top: 0;
    border: 9px solid transparent;
    border-width: 9px 7px;
    border-left-color: #abbac3
}

.label.arrowed-in-right:after {
    border-color: #abbac3;
    border-right-color: transparent !important;
    right: -9px
}

.label-info.arrowed:before {
    border-right-color: #3a87ad
}

.label-info.arrowed-in:before {
    border-color: #3a87ad
}

.label-info.arrowed-right:after {
    border-left-color: #3a87ad
}

.label-info.arrowed-in-right:after {
    border-color: #3a87ad
}

.label-primary.arrowed:before {
    border-right-color: #2283c5
}

.label-primary.arrowed-in:before {
    border-color: #2283c5
}

.label-primary.arrowed-right:after {
    border-left-color: #2283c5
}

.label-primary.arrowed-in-right:after {
    border-color: #2283c5
}

.label-success.arrowed:before {
    border-right-color: #82af6f
}

.label-success.arrowed-in:before {
    border-color: #82af6f
}

.label-success.arrowed-right:after {
    border-left-color: #82af6f
}

.label-success.arrowed-in-right:after {
    border-color: #82af6f
}

.label-warning.arrowed:before {
    border-right-color: #f89406
}

.label-warning.arrowed-in:before {
    border-color: #f89406
}

.label-warning.arrowed-right:after {
    border-left-color: #f89406
}

.label-warning.arrowed-in-right:after {
    border-color: #f89406
}

.label-important.arrowed:before {
    border-right-color: #d15b47
}

.label-important.arrowed-in:before {
    border-color: #d15b47
}

.label-important.arrowed-right:after {
    border-left-color: #d15b47
}

.label-important.arrowed-in-right:after {
    border-color: #d15b47
}

.label-inverse.arrowed:before {
    border-right-color: #333
}

.label-inverse.arrowed-in:before {
    border-color: #333
}

.label-inverse.arrowed-right:after {
    border-left-color: #333
}

.label-inverse.arrowed-in-right:after {
    border-color: #333
}

.label-pink.arrowed:before {
    border-right-color: #d6487e
}

.label-pink.arrowed-in:before {
    border-color: #d6487e
}

.label-pink.arrowed-right:after {
    border-left-color: #d6487e
}

.label-pink.arrowed-in-right:after {
    border-color: #d6487e
}

.label-purple.arrowed:before {
    border-right-color: #9585bf
}

.label-purple.arrowed-in:before {
    border-color: #9585bf
}

.label-purple.arrowed-right:after {
    border-left-color: #9585bf
}

.label-purple.arrowed-in-right:after {
    border-color: #9585bf
}

.label-yellow.arrowed:before {
    border-right-color: #fee188
}

.label-yellow.arrowed-in:before {
    border-color: #fee188
}

.label-yellow.arrowed-right:after {
    border-left-color: #fee188
}

.label-yellow.arrowed-in-right:after {
    border-color: #fee188
}

.label-light.arrowed:before {
    border-right-color: #e7e7e7
}

.label-light.arrowed-in:before {
    border-color: #e7e7e7
}

.label-light.arrowed-right:after {
    border-left-color: #e7e7e7
}

.label-light.arrowed-in-right:after {
    border-color: #e7e7e7
}

.label-grey.arrowed:before {
    border-right-color: #a0a0a0
}

.label-grey.arrowed-in:before {
    border-color: #a0a0a0
}

.label-grey.arrowed-right:after {
    border-left-color: #a0a0a0
}

.label-grey.arrowed-in-right:after {
    border-color: #a0a0a0
}

.label-large {
    font-size: 13px;
    padding: 3px 8px 4px
}

.label-large.arrowed,
.label-large.arrowed-in {
    margin-left: 12px
}

.label-large.arrowed:before,
.label-large.arrowed-in:before {
    left: -16px;
    border-width: 11px 8px
}

.label-large.arrowed-in:before {
    left: -12px
}

.label-large.arrowed-right,
.label-large.arrowed-in-right {
    margin-right: 11px
}

.label-large.arrowed-right:after,
.label-large.arrowed-in-right:after {
    right: -16px;
    border-width: 11px 8px
}

.label-large.arrowed-in-right:after {
    right: -12px
}

.label-custom {
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    margin-top: 0;
    font-weight: bold;
}
body,html,a,input,table,span,{
	outline:0;
}

body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-tbody > tr > td,
body .ui-table .ui-table-tfoot > tr > td {
    padding: 5px;
}

body .ui-widget-content {
    font-size: 12px;
}

body .ui-panel .ui-panel-titlebar {
    // border: 1px solid #dddddd;
    // border-bottom: 1px solid #dddddd;
    padding: 5px 10px;
    border:none;
    background: transparent;
}

body .ui-widget-header { /*Contenedor de todas las publicaciones*/
    // background: #f5f5f5;
    border: none;
    // border-top: 5px solid #0D47A1;
    font-weight: bold;
    font-size: 15px;
}

body .ui-panel .ui-panel-content {
    border:none;
    border-radius: 10px;
    line-height: 1.43;
    padding: 5px;
    // box-shadow: 0 7px 5px rgba(0,0,0,.15); //Sombra de las mascota en la publicacion
    // box-shadow: 0 7px 5px #E1F5FE; //Sombra de las mascota en la publicacion
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
    padding: 10px;
    color: #777777;
    font-weight: normal;
}

@media (min-width: 1025px){
    .layout-wrapper.menu-layout-horizontal .layout-main {
        padding-top: 110px;
        margin-left: 0px;
    }
}


/****BARRA DE DESPLAZAMIENTO**/
::-webkit-scrollbar{
	width:12px;
	height:10px;
	background:#fff;
}
::-webkit-scrollbar:active{ 
}
::-webkit-scrollbar-thumb{ /*BARRITA ACTIVA*/
	background-color:rgba(1,0,0,0.2);
	border-radius: 5px;
	padding:0 2px;
}
::-webkit-scrollbar-thumb:active{ /*BARRITA*/
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.25);
	background-color:rgba(0,0,0,0.25)
}

::-webkit-scrollbar-thumb:window-inactive{
	background-color:rgba(1,0,0,0.2);
	border-radius: 5px;
	padding-right:0 2px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}

::selection{
	background:#7fcffc;color:#fff;text-shadow:0 1px 1px #000}
::-moz-selection{
	background:#7fcffc;color:#fff;text-shadow:0 1px 1px #000}
::-webkit-selection{
	background:#7fcffc;color:#fff;text-shadow:0 1px 1px #000}
