<div class="card">
  <div class="card-body">
    <h3 class="card-title">Oficinas</h3>
    <ngx-alerts></ngx-alerts>

    <div class="row centered">
      <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">

      <div class="row">
        <div class="col-md-12 mx-auto">

          <button type="button" class="btn btn-primary waves-light" (click)="loadCreate();" mdbWavesEffect [disabled]="!enableBtnBuscar">Crear
          </button>

          <div class="md-form">
            <input mdbInput placeholder="Buscar por nombre" type="text" [(ngModel)]="valueInput" [ngModelOptions]="{standalone: true}"
              (keydown)="enter($event)">
          </div>
          <div class="table-responsive">
          <table mdbTable striped="true" small="true">
            <thead>
              <tr>
                <th colspan="4"></th>
                <th class="text-center h6">ID</th>
                <th class="h6">Nombre</th>
                <th class="h6">Descripci&oacute;n</th>
                <th class="text-center h6">IP Monitor</th>
                <th class="text-center h6">IP Videos</th>
                <th class="text-center h6">Sincronizaci&oacute;n</th>
                <th class="text-center h6">Activo</th>
                <th class="text-center h6">Polifunc.</th>
                <th class="text-center h6">Visualizar Pendientes</th>
                <th class="text-center h6">Tiempo Max. Reactivar (Min.)</th>
                <th class="text-center h6">Tiempo Prom. Serv. (Min.)</th>
                <th class="text-center h6">Tiempo Max. Depurar (Min.)</th>
                <th class="text-center h6">IP</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of listItem">
                <td width="1%">
                  <i mdbTooltip="Modificar" (click)="loadEdit(o.idOficina)" class="fa fa-pencil cyan-text icon-pointer"></i>
                </td>
                <td width="1%">
                  <i mdbTooltip="Borrar" (click)="showConfirmDelete(o.idOficina)" class="fa fa-trash-o red-text icon-pointer"></i>
                </td>
                <td width="1%">
                  <i mdbTooltip="Sincronizar Videos" (click)="sincronizarVideos(o)" class="fa fa-recycle amber-text icon-pointer"></i>
                </td>
                <td width="1%">
                  <i *ngIf="!o.aceptarSync && verAceptarSync()" mdbTooltip="Aceptar Video" (click)="showAcept(o)" class="fa fa-thumbs-up cyan-text icon-pointer"></i>
                </td>
                <td class="text-center">{{o.idOficina}}</td>
                <td>{{o.nombre}}</td>
                <td>{{o.descripcion}}</td>
                <td>{{o.ipMonitor}}</td>
                <td>{{o.ipVideos}}</td>
                <td class="text-center">
                  <span *ngIf="o.codEstadoSync=='P'" class="badge red">Pendiente</span>
                  <span *ngIf="o.codEstadoSync=='S'" class="badge green">Sincronizado</span>
                  <span *ngIf="o.codEstadoSync=='A'" class="badge blue">Actualizaci&oacute;n Pendiente</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.activo" class="badge green">S&iacute;</span>
                  <span *ngIf="!o.activo" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.polifuncionalidad" class="badge green">S&iacute;</span>
                  <span *ngIf="!o.polifuncionalidad" class="badge red">No</span>
                </td>
                <td class="text-center">
                  <span *ngIf="o.visualizarPendientes" class="badge green">S&iacute;</span>
                  <span *ngIf="!o.visualizarPendientes" class="badge red">No</span>
                </td>
                <td class="text-center">{{o.tiempoMaxReactivar}}</td>
                <td class="text-center">{{o.tiempoPromedioServicio}}</td>
                <td class="text-center">{{o.tiempoMaxDepurar}}</td>
                <td>{{o.ip}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

    </div>


    <!--Modal: Create Form-->
    <div mdbModal #form="mdb-modal" class="modal fade top" data-toggle="modal" id="modalCrearOficina" tabindex="-1"
      role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto;">
      <div class="row centered">
        <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
          <div class="overlay-content centered">
            <div class="loader centered">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">

          <!--Header-->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">{{titleModal}}</h4>
            <button id="btnCerrar" type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
              (click)="form.hide()">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">

            <div class="form-row">
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="text" id="nombre" class="form-control" [(ngModel)]="item.nombre">
                    <label for="nombre">Nombre</label>
                  </div>
                </div>
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="text" id="descripcion" class="form-control" [(ngModel)]="item.descripcion">
                    <label for="descripcion">Descripci&oacute;n</label>
                  </div>
                </div>
            </div>

            <div class="form-row">
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="text" id="ipMonitor" class="form-control" [(ngModel)]="item.ipMonitor">
                  <label for="ipMonitor">IP Monitor</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="text" id="ipVideos" class="form-control" [(ngModel)]="item.ipVideos">
                  <label for="ipVideos">IP Videos</label>
                </div>
              </div>
            </div>


          <div class="form-row">
              <div class="col">
                <div class="md-form">
                  <mat-slide-toggle [(ngModel)]="item.activo">Activo</mat-slide-toggle>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <mat-slide-toggle [(ngModel)]="item.polifuncionalidad">Polifuncionalidad</mat-slide-toggle>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <mat-slide-toggle [(ngModel)]="item.visualizarPendientes">Visualizar Pendientes</mat-slide-toggle>
                </div>
              </div>
          </div>

            <div class="form-row">
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="text" id="tiempoMaxReactivar" class="form-control" [(ngModel)]="item.tiempoMaxReactivar">
                  <label for="tiempoMaxReactivar">Tiempo Max. Reactivar (Min.)</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="text" id="tiempoPromedioServicio" class="form-control" [(ngModel)]="item.tiempoPromedioServicio">
                  <label for="tiempoPromedioServicio">Tiempo Promedio Servicio(Min.)</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="text" id="tiempoMaxDepurar" class="form-control" [(ngModel)]="item.tiempoMaxDepurar">
                  <label for="tiempoMaxDepurar">Tiempo Max. Depurar (Min.)</label>
                </div>
              </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="md-form">
                <input mdbInputDirective type="text" id="ip" class="form-control" [(ngModel)]="item.ip">
                <label for="ip">Direcci&oacute;n IP</label>
              </div>
            </div>
            <div class="col">
              <div class="md-form">
                <input mdbInputDirective type="text" id="desRutaSync" class="form-control" [(ngModel)]="item.desRutaSync">
                <label for="desRutaSync">Ruta de Sincronizaci&oacute;n de V&iacute;deos</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="md-form">
                <input mdbInputDirective type="text" id="desRutaBaseVideo" class="form-control" [(ngModel)]="item.desRutaBaseVideo">
                <label for="desRutaSync">Ruta Base Local de Sincronizaci&oacute;n de V&iacute;deos</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="md-form">
                <div>Horario de Sincronizaci&oacute;n</div>
                <select matNativeControl placeholder="Horario de Sincronizaci&oacute;n" (change)="selectIdHorario($event.target.value)"
                  class="browser-default custom-select mb-4 text-uppercase" [(ngModel)]="idHorario">
                  <option class="text-uppercase" *ngFor="let o of horariosyncs" [value]="o.idHorario">{{o.nomHorario}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="md-form">
                <div>Configuraci&oacute;n de Llamado</div>
                <select matNativeControl placeholder="Configuraci&oacute;n de Llamado" (change)="selectIdConfiguracion($event.target.value)"
                  class="browser-default custom-select mb-4 text-uppercase" [(ngModel)]="idConfiguracion">
                  <option class="text-uppercase" *ngFor="let o of configuraciones" [value]="o.idConfiguracionEmisorLlamados">{{o.desNombre}}</option>
                </select>
              </div>
            </div>
          </div>


          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-light" data-dismiss="modal" (click)="save()"
              mdbWavesEffect [disabled]="!enableBtnGuardar">Guardar
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

    <!-- start confirmModal-->
    <div mdbModal #confirmDelete="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Est&aacute; seguro de borrar este registro?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fa fa-times fa-4x animated rotateIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <button type="button" class="btn btn-danger waves-light" (click)="delete();" mdbWavesEffect [disabled]="!enableBtnBuscar">Borrar
            </button>
            <button type="button" class="btn btn-primary waves-light" (click)="confirmDelete.hide();" mdbWavesEffect
              [disabled]="!enableBtnBuscar">No
            </button>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- end confirmModal-->

    <!-- start confirmModal-->
    <div mdbModal #confirmAceptar="mdb-modal" class="modal fade top" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Est&aacute; seguro de Aceptar la sincronizaci&oacute;n?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fa fa-thumbs-up fa-4x animated rotateIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <button type="button" class="btn btn-primary waves-light" (click)="aceptarSyncro()" mdbWavesEffect>Si
            </button>
            <button type="button" class="btn btn-danger waves-light" (click)="confirmAceptar.hide();" mdbWavesEffect>No
            </button>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- end confirmModal-->

  </div>
</div>
