<div class="card">
  <div class="card-body">
    <h3 class="card-title">Perfil Atención/Tipo Ticket</h3>
    <ngx-alerts></ngx-alerts>

    <div class="row centered">
      <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
        <div class="overlay-content centered">
          <div class="loader centered">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">

      <div class="row">
        <div class="col-md-12 mx-auto">

          <button type="button" class="btn btn-primary waves-light" (click)="loadCreate();"
                  mdbWavesEffect [disabled]="!enableBtnBuscar">Crear
          </button>

          <div class="md-form">
            <input mdbInput placeholder="Buscar por nombre" type="text" [(ngModel)]="valueInput"
                   [ngModelOptions]="{standalone: true}" (keydown)="enter($event)">
          </div>
          <div class="table-responsive">
          <table mdbTable striped="true" small="true">
            <thead>
            <tr>
              <th colspan="2"></th>
              <th class="text-center h6">ID</th>
              <th class="h6">Tipo Ticket</th>
              <th class="h6">Peso</th>
              <th class="h6">Oficina</th>
              <th class="text-center h6">Peso Original</th>
              <th class="text-center h6">Índice Prioridad</th>
              <th class="text-center h6">Activo</th>
              <th class="text-center h6">Peso Ratio</th>
              <th class="text-center h6">Tiempo Promedio Atención</th>
              <th class="text-center h6">Tiempo Max. Espera</th>
              <!-- <th class="text-center h6">Factor Prioridad</th>-->
              <th class="text-center h6">Cantidad Máxima Tickets</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let o of listItem">
              <td width="1%">
                <i mdbTooltip="Modificar" (click)="loadEdit(o.idPesoTipoTicket,o.pesoEntity.oficina.idOficina)" class="fa fa-pencil cyan-text icon-pointer"></i>
              </td>
              <td width="1%">
                <i mdbTooltip="Borrar" (click)="showConfirmDelete(o.idPesoTipoTicket)" class="fa fa-trash-o red-text icon-pointer"></i>
              </td>
              <td class="text-center">{{o.idPesoTipoTicket}}</td>
              <td>{{o.tipoTicket?.nombre}}</td>
              <td>{{o.pesoEntity?.nombrePeso}}</td>
              <td>{{o.pesoEntity?.oficina.nombre}}</td>
              <td class="text-center">{{o.peso}}</td>
              <td class="text-center">{{o.indicePrioridad}}</td>
              <td class="text-center">
                <span *ngIf="o.activo" class="badge green">Sí</span>
                <span *ngIf="!o.activo" class="badge red">No</span>
              </td>
              <td class="text-center">{{o.pesoRatio}}</td>
              <td class="text-center">{{o.tiempoPromAtencion}}</td>
              <td class="text-center">{{o.tiempoMaxEspera}}</td>
              <!--<td class="text-center">{{o.factorPrioridad}}</td>-->
              <td class="text-center">{{o.cantidadMaximaTickets}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

    </div>


    <!--Modal: Create Form-->
    <div mdbModal #form="mdb-modal" class="modal fade top" data-toggle="modal" id="modalCrearOficina"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto;">
      <div class="row centered">
        <div *ngIf="!enableBtnBuscar" class="overlay centered" style="width: 100%;">
          <div class="overlay-content centered">
            <div class="loader centered">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

          <!--Header-->
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">{{titleModal}}</h4>
            <button id="btnCerrar" type="button" class="close waves-effect waves-light"
                    data-dismiss="modal" aria-label="Close" (click)="form.hide()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">

              <label>Oficina</label>
              <select class="browser-default custom-select mb-4 text-uppercase"
                      (change)="loadCombos($event.target.value)"
                      [(ngModel)]="idOficina">
                <option class="text-uppercase" *ngFor="let o of listItemOficina"
                        value="{{o.idOficina}}">{{o.nombre}}
                </option>
              </select>

            <label>Tipo Ticket</label>
            <select class="browser-default custom-select mb-4 text-uppercase"
                    (change)="selectIdTipoTicket($event.target.value)"
                    [(ngModel)]="idTipoTicket">
              <option class="text-uppercase" *ngFor="let o of listTipoTicket"
                      value="{{o.idTipoTicket}}">{{o.nombre}}
              </option>
            </select>

            <label>Peso</label>
            <select class="browser-default custom-select mb-4 text-uppercase"
                    (change)="selectIdPeso($event.target.value)"
                    [(ngModel)]="idPeso">
              <option class="text-uppercase" *ngFor="let o of listPeso"
                      value="{{o.idPeso}}">{{o.nombrePeso}}
              </option>
            </select>

            <div class="md-form">
              <input mdbInputDirective type="number" id="peso" class="form-control"
                     [(ngModel)]="item.peso">
              <label mdbTooltip="Modifica el peso ratio" for="peso">Peso Original</label>
            </div>

            <div class="md-form">
              <input mdbInputDirective type="number" id="inidicePrioridad" class="form-control"
                     [(ngModel)]="item.indicePrioridad">
              <label for="inidicePrioridad">Índice Prioridad</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="activo" [(ngModel)]="item.activo">
              <label class="custom-control-label" for="activo">Activo</label>
            </div>
            <div *ngIf="pesoSeleccionado && pesoSeleccionado.modoLlamado.nombreModoLlamado == 'RATIO'">
              <div class="md-form">
                <input mdbInputDirective type="number" id="pesoRatio" class="form-control"
                      [(ngModel)]="item.pesoRatio">
                <label for="pesoRatio">Peso Ratio</label>
              </div>
              <div class="md-form">
                <input mdbInputDirective type="number" id="tiempoPromAtencion" class="form-control"
                      [(ngModel)]="item.tiempoPromAtencion">
                <label for="tiempoPromAtencion">Tiempo Promedio Atención (min.)</label>
              </div>
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-light" data-dismiss="modal"
                    (click)="save()" mdbWavesEffect [disabled]="validate()">Guardar
            </button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

    <!-- start confirmModal-->
    <div mdbModal #confirmDelete="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Est&aacute; seguro de borrar este registro?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fa fa-times fa-4x animated rotateIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <button type="button" class="btn btn-danger waves-light" (click)="delete();"
                    mdbWavesEffect [disabled]="!enableBtnBuscar">Borrar
            </button>
            <button type="button" class="btn btn-primary waves-light" (click)="confirmDelete.hide();"
                    mdbWavesEffect [disabled]="!enableBtnBuscar">No
            </button>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- end confirmModal-->

  </div>
</div>
